@charset "UTF-8";
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: ONE-Mobile-POP;
}
#menuicon{
	display:none;
}
input[id="menuicon"] + label {
	display:block;
	width:60px;
	height:40px;
	position:fixed;
	left:20px;
	top:12%;
	transition:all .35s;
	cursor:pointer;
	z-index:99;
	margin-top: 10px;
}
input[id="menuicon"] + label span{
	display:block;
	position: absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background: #000;
	transition:all .35s;
}
input[id="menuicon"]:checked + label{
	z-index:2;
	left:300px;
}
input[id="menuicon"] + label span:nth-child(1){
	top:0;
}
input[id="menuicon"] + label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);		
}
input[id="menuicon"] + label span:nth-child(3){
	bottom:0;		
}
input[id="menuicon"]:checked + label span:nth-child(1){
	top:50%;
	transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
	opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
	bottom:50%;
	transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"]{
	width:300px;
	height:100%;
	background-color:white;
	position:fixed;
	top:0;
	left:-300px;
	z-index:50;
	transition:all .35s;
	border-right:groove;
	
}
input[id="menuicon"]:checked + label + div{
	left:0;
}
.menu{
	padding-left: 10%;
	margin-top:50px;
}
.menu li{
	font-size:21pt;
	list-style:none;
	color: black;
	
}
.menu hr{
	width:80%;
}
.sidebar .menu a:hover{
	text-decoration: underline;
}
.sidebar .menu a:visited{
	color:black;
	text-decoration:none;
}
.sidebar .menu a{
	color:black;
	text-decoration:none;
	
}
.menu img{
	max-width:30px;
	height:auto;
	margin-right:10px;	
}
.menu hr{
	margin-top: 30px;
	margin-bottom: 30px;
}

