@charset "UTF-8";

strong {
	color: black;
}
/* 바디테그 전체에 박스를 입힘 */
.bulletin_body_container {
	width: 75%; /* 컨테이너의 너비 */
	/* margin: 0 auto; 가운데 정렬을 위해 왼쪽/오른쪽 마진을 auto로 설정 */
	border: 1px solid #ccc; /* 컨테이너에 테두리 설정 */
	padding: 20px; /* 컨테이너의 내부 여백 설정 */
	border-radius: 10px; /* 모서리 둥글기를 10px로 설정 */
	float: right;
	margin-top: 8rem;
	margin-right: 2rem;
	margin-bottom: 1.5rem;
	
	/* 폰트 */
	font-family: 'Kanit', sans-serif;
	color: black;
}

/* 상단에 있는 카테고리랑 검색바 */
.bulletin_board_select {
	margin-top: 30px;
}
/* 자유게시판 운동모집게시판 양옆으로 붙게 */
.bulletin_board_category li {
	display: inline;
	margin-right: 10px;
	font-size: 15pt;
}

.bulletin_board_content strong {
	font-size: 2rem;
}

/* 검색버튼 */
.bulletin_board_top {
	display: inline-block;
	font-size: 0;
	margin-top: 20px;
}

.bulletin_board_top input {
	width: 90%;
	height: 35px;
	margin-bottom: 20px;
	font-size: 1rem;
	border: 1px solid #000000;
	border-right: 0;
	border-top-left-radius: 7px;
  	border-bottom-left-radius: 7px;
  	margin-top: 5%;
}

.bulletin_board_top button {
	width: 50px;
	height: 35px;
	margin-bottom: 20px;
	font-size: 1rem;
	border: 1px solid #000000;
	color: #000;
	border-top-right-radius: 7px;
  	border-bottom-right-radius: 7px;
}


/* 카테고리와 글 제목 하이퍼링크 밑줄 안 보이게 */
.bulletin_board_category a {
	text-decoration: none;
	color: inherit;
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

.bulletin_board_content a {
	text-decoration: none;
	color: inherit;
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

.bulletin_board_category a:hover {
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

.bulletin_board_content a:hover {
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
	border-color: black;
}

.btn-group .btn {
  border-color: black;
}

/*  */
.bulletin_board_category {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

/* 상단에 있는 카테고리랑 검색바 끝 */


/* 게시판 내용 테이블 */
table {
	border-collapse: collapse;
	width: 100%;
	height: 200px;
}

thead th {
	border-bottom: 1px solid black;
	text-align: left;
}

tbody th, tbody td {
	border-bottom: 1px solid black;
}

/* thead 위쪽에 선을 추가. */
thead tr th {
	border-top: 2px solid #000000;
	background-color: #fff;
}

/* 테이블 끝 */



/* 글쓰기 버튼(하이퍼링크) */
.bulletin_write a{	
	/* 하이퍼링크 밑줄 안 보이게, 색깔 검정색 */
	text-decoration: none;
	color: inherit;
	color: white; /* 링크의 텍스트 색상을 검은색으로 유지 */
	text-align: center;
}

.bulletin_write a:hover {
	color: white; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

/* 페이지번호와 글쓰기버튼 끝*/


/*  */
.bulletin_write {
	text-align: center;
	margin-top: 10px;
}

/* 글쓰기 버튼 테스트 */
.bulletin_write_button {
	background-color: black;
	border: 2px solid #000000;
	color: #333;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 16px;
	width: 100px;
	height: 40px;
	margin-top: 10px;
	border-radius: 4px;
}

/* 페이지버튼 */

.bulletin_board_page {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}
.bulletin_board_page a {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #ddd;
	border-left: 0;
	vertical-align: middle;
	text-decoration: none;
	color: #000;
	line-height: 100%;
	box-sizing: border-box;
}

.bulletin_board_page a:hover {
	color: black;
}

.bulletin_board_page a.button {
	padding-top: 7px;
	font-size: 1.2rem;
}

.bulletin_board_page a.num {
	padding-top: 6px;
	font-size: 1.4rem;
}

.bulletin_board_page a.num.on {
	border-color: #000;
	background-color: #000;
	color: #fff;
	
}

.bulletin_board_page a:first-child {
	border-left: 1px solid #ddd;
}
