<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/racket/common/css/signup/sign-auth.css">
</th:block>
<script th:inline="javascript">
$(document).ready(function(){
	let msg = [[${msg}]];
	if(msg == null){
	}else{
		alert(msg);//확인했습니다.
		 $('#mail-check-btn').attr('disabled', true);
	     $('#mail-send-btn').attr('disabled', true);
	     $('#name-send-btn').attr('disabled', true);
		$('#next-btn').attr('disabled', false); 
	}
	let msg1 = [[${msg1}]];
	if(msg1 == null){
	}else{
		alert(msg1);
	}
})
</script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="logo">
				<img src="/racket/images/racket.png">
			</div>
			<div class="form-group email-form">
				<h2>비밀번호 찾기</h2>
				<div class="email-validation">
					<div class="input-group">
						<input type="text" class="form-control" name="memberEmail1"
							id="memberEmail1" placeholder="이메일" th:value="${memberEmail1}">
						<select class="form-control" name="memberEmail2" id="memberEmail2"
							th:value="${memberEmail2}">
							<option th:selected="${memberEmail2}">@naver.com</option>
							<option th:selected="${memberEmail2}">@daum.net</option>
							<option th:selected="${memberEmail2}">@gmail.com</option>
							<option th:selected="${memberEmail2}">@hanmail.com</option>
							<option th:selected="${memberEmail2}">@yahoo.co.kr</option>
						</select>
						<button type="button" class="btn btn-primary" id="mail-send-btn">인증번호발송</button>
					</div>
				</div>
				<div class="email-validation">
					<div class="input-group">
						<input class="form-control mail-check-input"
							placeholder="인증번호 6자리를 입력해주세요!" disabled="disabled" maxlength="6">
						<button type="button" class="btn btn-secondary"
							id="mail-check-btn">확인</button>
					</div>
				</div>
				<form action="/racket/login/findPass_idCheck" method="post">
					<div class="email-validation">
						<div class="input-group">
							<input type="text" class="form-control" name="memberId"
								id="memberId" placeholder="아이디를 입력해주세요.">
							<button type="submit" class="btn btn-primary" id="id-send-btn"
								disabled=>아이디 확인하기</button>
						</div>
					</div>
				</form>
				<div class="email-validation">
					<!-- <button type="button" class="btn btn-success" id="next-btn" disabled>다음</button> -->
					<form action="/racket/login/findPass2" method="post">
						<input type="hidden" th:value="${memberId}" name="memberId" id="memberId">
						<input type="hidden" th:value="${memberPass}" name="memberPass" id="memberPass">
						<button class="btn btn-success" id="next-btn" disabled>다음</button>
						<button type="button" class="btn btn-danger" id="cancel-btn"
							onclick="location.href='/racket/login'">취소</button>
					</form>
				</div>
				<span id="mail-check-warn"></span>
			</div>
		</div>
		<th:block layout:fragment="script">
			<script type="text/javascript"
				src="/racket/common/js/login/findPass.js"></script>
		</th:block>
	</th:block>
</body>
</html>