/* 사진 슬라이더 관련 */
.swiper {
	width: 1321px;
	height: 500px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.stadium_sub_menu {
	position: sticky;
	top: 0px;
	background-color: #aaaaaa;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	z-index: 9999;
}

.stadium_sub_menu li {
	list-style: none;
	margin-right: 10px;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: 5px;
	cursor: pointer;
}

.stadium_sub_menu li.on {
	background-color: #fff;
	font-weight: bold;
}

.content {
	/* 페이지 내용 스타일링 */
	padding-top: 60px; /* 상단 메뉴의 높이 만큼 여백 추가 */
}

.ul-sticky {
	position: sticky;
	top: 100px;
}

.stadium_info_header {
	display: flex;
	align-items: center;
}

.name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.star {
	font-size: 24px;
	color: gold;
	margin-right: 5px;
}

.rounded {
	border: 1px solid #ced4da;
	border-radius: 10px;
	padding: 10px;
}

.btn {
	display: flex;
	height: 45px;
	font-size: 18pt;
	text-align: center;
}

.court {
	vertical-align: middle;
}

/* Button */
input[type="submit"], input[type="reset"], input[type="button"], button,
	.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 0.125em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 0.75rem;
	max-width: 20rem;
	height: 3.75em;
	line-height: 3.75em;
	border-radius: 3.75em;
	padding: 0 2.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before,
	button.icon:before, .button.icon:before {
	margin-right: 0.5rem;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit,
	button.fit, .button.fit {
	width: 100%;
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small,
	button.small, .button.small {
	font-size: 0.6rem;
	height: 3.325em;
	line-height: 3.325em;
	border-radius: 3.325em;
	padding: 0 2em;
}

input[type="submit"].large, input[type="reset"].large, input[type="button"].large,
	button.large, .button.large {
	font-size: 0.8rem;
	height: 4em;
	line-height: 4em;
	border-radius: 4em;
	padding: 0 3em;
}

input[type="submit"].wide, input[type="reset"].wide, input[type="button"].wide,
	button.wide, .button.wide {
	min-width: 14em;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled,
	input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled,
	button.disabled, button:disabled, .button.disabled, .button:disabled {
	pointer-events: none;
	opacity: 0.25;
}

input[type="submit"], input[type="reset"], input[type="button"], button,
	.button {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	color: #000000 !important;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
	button:hover, .button:hover {
	box-shadow: inset 0 0 0 1px #47D3E5;
	color: #47D3E5 !important;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active,
	button:active, .button:active {
	background-color: rgba(71, 211, 229, 0.2);
	box-shadow: inset 0 0 0 1px #47D3E5;
	color: #47D3E5 !important;
}

input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary,
	button.primary, .button.primary {
	background-color: #000000;
	box-shadow: none;
	color: #ffffff !important;
}

input[type="submit"].primary:hover, input[type="reset"].primary:hover,
	input[type="button"].primary:hover, button.primary:hover, .button.primary:hover
	{
	background-color: #47D3E5;
}

input[type="submit"].primary:active, input[type="reset"].primary:active,
	input[type="button"].primary:active, button.primary:active, .button.primary:active
	{
	background-color: #1ebdd1;
}

/* 네이버지도 z-index */
.stadium_info map {
	z-index: 1;
}

