<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<title>예약 참여하기</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<link rel="stylesheet" href="/racket/common/assets/css/main.css" />
<link rel="stylesheet" href="/racket/common/css/side.css" />
<noscript>
	<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
</noscript>

<!-- 달력 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap"
	rel="stylesheet">


<link rel="stylesheet"
	href="/racket/common/assets/fonts/icomoon/style.css">

<link rel="stylesheet" href="/racket/common/assets/css/rome.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/racket/common/assets/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="/racket/common/assets/css/style.css">

<style type="text/css">
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
</style>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() { 
    const form = document.querySelector('form'); // 폼 요소 선택
    const now = moment().format('yyyy-MM-DD');
    document.getElementById("cashDate").value=now;
    document.getElementById("matchDate").value=now;
  });
</script>
<script th:inline="javascript">
    function confirmReservation() {
        var confirmed = confirm("예약을 진행하시겠습니까?"); // 확인 창 표시
        return confirmed; // 확인 결과를 반환하여 form을 제출하거나 취소할 수 있도록 함
    }
</script>

</head>
<body class="is-preload">

	<th:block layout:fragment="content">


	<!-- Wrapper -->
	<div id="wrapper" style="margin:50px; margin-top: 180px;">
	<!-- Form -->
	<div class="col-lg-4" style="position: relative; float: right;" id="scroll">
		<div class="box" style="padding: 20px; margin: 0px;">
			<form method="post" action="/racket/matching/insert" onsubmit="return confirmReservation()">
			
			<!-- 임시 id값 -->
            <input type="hidden" name="memberId" th:value="${#session.getAttribute('user').memberId}">
            <input type="hidden" name="memberGender" th:value="${#session.getAttribute('user').memberGender}">
            <input type="hidden" name="totalCash" id="totalCash" th:value="${totalAmount}">
            <input type="hidden" name="totalAmount" id="totalAmount"  th:value="${totalAmount-reservation.reservationFee}" >
            <input type="hidden" name="amountSpent" id="amountSpent" th:value="${reservation.reservationFee}" >
            <input type="hidden" name="reservationFee" id="reservationFee" th:value="${reservation.reservationFee}" >
            <input type="hidden" name="reservationNo" id="reservationNo" th:value="${reservation.reservationNo}" >
            <input type="hidden" name="cashDate" id="cashDate" >
            <input type="hidden" name="matchDate" id="matchDate" >
			
				<div class="field">
					<div class="box" style="padding: 15px;">
						<p style="text-align: center; color: black;">
							경기 날짜
							<code style="color: #134C43"><span th:text="${reservation.reservationDate}"></span></code>
						</p>
					</div>
				</div>


				<div class="field">
					<div class="box" style="padding: 15px;">
						<p style="text-align: center; color: black;">
							경기 시간
							<code style="color: #134C43"><span th:text="${courtoperatinghours.courtStart + ':00 ~ ' + courtoperatinghours.courtEnd + ':00'}"></span></code>
						</p>
					</div>
				</div>
				
				<div class="field">
					<div class="box" style="padding: 15px;">
						<p style="text-align: center; color: black;">
							등급 제한
							<code style="color: #134C43"><span th:text="${reservation.gradeSetting}"></span></code>
						</p>
					</div>
				</div>

				<div class="field">
					<div class="box" style="padding: 15px;">
						<p style="text-align: center; color: black;">
							참여 인원
							<code style="color: #134C43"><span th:text="${participantCount}"></span> / <span th:text="${reservation.peopleNum}"></span></code>
							명
						</p>
					</div>
				</div>

				<div class="field">
					<div class="box" style="padding: 15px;">
						<p style="text-align: center; color: black;"><span th:text="${reservation.reservationFee} +'원'"></span></p>
					</div>
				</div>
				
				<div class="field" style="text-align: center;">
				    <input type="submit" name="submit" value="예약하기" th:attr="disabled=${participantCount >= reservation.peopleNum}" />
				</div>
			</form>

		</div>
	</div>


	<div class="col-lg-8" style="position: relative; float: right; padding: 0px;"id="reservation">

		<div class="image fit">
			<!-- 체육관 사진 -->
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="file : ${stadium.files}">
						<img th:src="${file.fileStorename[0]}" alt="Stadium Image">
					</div>
				       <div th:if="${stadium.files.size() == 0}">
				           <img src="/racket/images/reservationPark.jpg" alt="Alternative Image">
			        </div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			</div>
		</div>

		<section>
			<div class="box">
				<blockquote><h3>체육관 정보</h3></blockquote>
				<p style="color: black;">구장 이름 : <span th:text="${stadium.stadiumName}"></span></p> 
				<p style="color: black;">코트 번호 : <span th:text="${stadiumcourt.courtName}"></span></p>
				<p style="color: black;">구장 주소 : <span th:text="${stadium.stadiumAddr}"></span></p>
				<p style="color: black;">운영 시간 : <span th:text="${stadium.stadiumTime}"></span></p>
				<p style="color: black;">전화번호 : <span th:text="${stadium.stadiumPhone}"></span></p>
				<p style="color: black;">시간당 가격 : <span id="stadiumFee" th:value="${stadium.stadiumFee}" th:text="${stadium.stadiumFee+'원'}">0원</span></p>
				<p style="color: black;">구장 소개 : <span th:text="${stadium.stadiumContent}">구장에 대한 소개가 없습니다.</span></p>
			</div>
		</section>
		
		<!-- 예약자 정보 -->
		<section>
			<div class="box">
				<blockquote><h3>예약</h3></blockquote>
				<p style="color: black;">예약자 : <span th:text="${member.memberName}"></span></p>
				<p style="color: black;">경기 방식 : <span th:text="${reservation.reservationMet + ' / ' + reservation.reservationGender}"></span></p>
				<p style="color: black;">등급 제한 : <span th:text="${reservation.gradeSetting}"></span></p>
				<p style="color: black;">구장비 : <span th:text="${reservation.reservationFee}+'원'"></span></p>
				<p style="color: black;">모집 내용 : <span th:text="${reservation.reservationContent}"></span></p>
			</div>
		</section>
	</div>

	<!-- Scripts -->
	<script src="/racket/common/assets/js/jquery.min.js"></script>
	<script src="/racket/common/assets/js/jquery.scrollex.min.js"></script>
	<script src="/racket/common/assets/js/jquery.scrolly.min.js"></script>
	<script src="/racket/common/assets/js/browser.min.js"></script>
	<script src="/racket/common/assets/js/breakpoints.min.js"></script>
	<script src="/racket/common/assets/js/util.js"></script>
	<script src="/racket/common/assets/js/main.js"></script>
	<script src="/racket/common/assets/js/scroll.js"></script>

	<!-- Note: Only needed for demo purposes. Delete for production sites. -->
	<script src="/racket/common/assets/js/demo.js"></script>


	<!-- 달력 -->
	<script src="/racket/common/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/racket/common/assets/js/popper.min.js"></script>
	<script src="/racket/common/assets/js/bootstrap.min.js"></script>
	<script src="/racket/common/assets/js/rome.js"></script>
	<script src="/racket/common/assets/js/main.js"></script>
</div>
</div>
</th:block>
</body>
</html>