<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<title>예약하기</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/racket/common/assets/css/main.css" />
<link rel="stylesheet" href="/racket/common/css/side.css" />
<noscript>
	<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
</noscript>

<!-- 달력 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap"
	rel="stylesheet">


<link rel="stylesheet"
	href="/racket/common/assets/fonts/icomoon/style.css">

<link rel="stylesheet" href="/racket/common/assets/css/rome.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/racket/common/assets/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="/racket/common/assets/css/style.css">

<!-- 추가된 스타일 -->
<style>
#scroll {
	overflow-y: auto;
	max-height: calc(100vh - 180px); /* footer가 가리지 않도록 최대 높이 설정 */
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.swiper {
	width: 900px;
	height: 500px;
	margin-bottom: 20px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.stadium_sub_menu {
	position: sticky;
	top: 0px;
	background-color: #aaaaaa;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	z-index: 9999;
}

.stadium_sub_menu li {
	list-style: none;
	margin-right: 10px;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: 5px;
	cursor: pointer;
}

.stadium_sub_menu li.on {
	background-color: #fff;
	font-weight: bold;
}

</style>


<script type="text/javascript">
function handleRadioChange() {
      var selectedValue = document.querySelector('input[name="reservationMet"]:checked').value;
      var stadiumFeeValue = document.getElementById("stadiumFeeValue").textContent;
      var totalCash = document.getElementById("totalCash").value;
      var price = stadiumFeeValue*2/selectedValue;
      var totalAmount = totalCash - price;
      document.getElementById("totalAmount").value = totalAmount;
      document.getElementById("amountSpent").value = price;
      document.getElementById("reservationFee").value = price;
      document.getElementById("reservationFeeVal").textContent = price+"원";
      document.getElementById("peopleNumVal").textContent = selectedValue + "명";
      document.getElementById("peopleNum").value = selectedValue;
      console.log(selectedValue)
    }

    document.addEventListener('DOMContentLoaded', function() {
      var radioButtons = document.querySelectorAll('input[name="reservationMet"]');
      radioButtons.forEach(function(radioButton) {
        radioButton.addEventListener('change', handleRadioChange);
      });
	
      // 초기 값 설정을 위해 이벤트 핸들러 호출
      handleRadioChange();
    });

</script>

<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var memberGender = /*[[${#session.getAttribute('user').memberGender}]]*/ null; // 세션에서 가져온 회원 성별 값
    var radioButtons = document.querySelectorAll('input[type="radio"]'); // 라디오 버튼 요소
    
    radioButtons.forEach(function(radioButton) {
      // 회원 성별 값이 남성인 경우
      if (memberGender === '남성') {
        if (radioButton.value === '여성') {
          radioButton.disabled = true; // 여성 선택 비활성화
          document.querySelector('label[for="woman"]').style.color = '#bfbfbf';
        } else if (radioButton.value === memberGender) {
          radioButton.checked = true; // 남성 선택
        }
      }
      // 회원 성별 값이 여성인 경우
      else if (memberGender === '여성') {
        if (radioButton.value === '남성') {
          radioButton.disabled = true; // 남성 선택 비활성화
          document.querySelector('label[for="man"]').style.color = '#bfbfbf';
        } else if (radioButton.value === memberGender) {
          radioButton.checked = true; // 여성 선택
        }
      }
      // 세션 값이 없는 경우
      else {
        radioButton.disabled = true; // 모든 선택 비활성화
      }
    })
  })
</script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form'); // 폼 요소 선택

    // 폼 제출 시 이벤트 핸들러
    form.addEventListener('submit', function(event) {
      const reservationDateInput = document.getElementById('input'); // 대여 날짜 입력 필드 선택
      const reservationHourInput = document.querySelector('select[name="courtHourNo"]'); // 대여시간 선택 필드 선택
      const reservationContentInput = document.getElementById('reservationContent'); // 모집날짜 입력 필드 선택
      const gradeSettingInput = document.querySelector('select[name="gradeSetting"]'); // 등급 선택 필드 선택

      const errorMessageReservationDate = reservationDateInput.nextElementSibling; // 대여 날짜 에러 메시지 요소 선택
      const errorMessageReservationHour = reservationHourInput.nextElementSibling; // 대여 시간 에러 메시지 요소 선택
      const errorMessageReservationContent = reservationContentInput.nextElementSibling; // 모집 날짜 에러 메시지 요소 선택
      const errorMessageGradeSetting = gradeSettingInput.nextElementSibling; // 등급 에러 메시지 요소 선택

      // 기존 에러 메시지 초기화
      errorMessageReservationDate.textContent = '';
      errorMessageReservationHour.textContent = '';
      errorMessageReservationContent.textContent = '';
      errorMessageGradeSetting.textContent = '';

      let hasError = false; // 에러 여부를 저장하는 변수

      // 대여 날짜 필드 확인
      if (reservationDateInput.value === '') {
        hasError = true;
        errorMessageReservationDate.textContent = '* 날짜를 선택해주세요.'; // 에러 메시지 표시
      }

      // 대여시간 필드 확인
      if (reservationHourInput.value === '') {
        hasError = true;
        errorMessageReservationHour.textContent = '* 시간을 선택해주세요.'; // 에러 메시지 표시
      }

      // 모집날짜 필드 확인
      if (reservationContentInput.value === '') {
        hasError = true;
        errorMessageReservationContent.textContent = '* 모집 내용을 작성해주세요.'; // 에러 메시지 표시
      }

      // 등급 필드 확인
      if (gradeSettingInput.value === '') {
        hasError = true;
        errorMessageGradeSetting.textContent = '* 등급을 선택해주세요.'; // 에러 메시지 표시
      }

      if (hasError) {
        event.preventDefault(); // 폼 제출 방지
      }
    });
  });
  
  
</script>
<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>
<body class="is-preload">

	<th:block layout:fragment="content">
		<!-- Wrapper -->
		<div id="wrapper" style="margin: 50px; margin-top: 180px;">

			<!-- Form -->
			<form method="post" action="/racket/reservation/insert">
			
			 <!-- 임시 id값 -->
            <input type="hidden" name="memberId" th:value="${#session.getAttribute('user').memberId}">
            <input type="hidden" name="memberGender" th:value="${#session.getAttribute('user').memberGender}">
            <input type="hidden" name="totalCash" id="totalCash" th:value="${totalAmount}">
            <input type="hidden" name="totalAmount" id="totalAmount" onchange="handleRadioChange()" value="0" >
            <input type="hidden" name="amountSpent" id="amountSpent" onchange="handleRadioChange()" value="0" >
            <input type="hidden" name="reservationFee" id="reservationFee" onchange="handleRadioChange()" value="0" >
							
			
				<div class="col-lg-4" style="position: relative; float: right;"
					id="scroll">
					<div class="box" style="padding: 20px; margin: 0px;">

						<div class="field">
							<div class="form-group">
							<input type="text" class="priority-low" id="input" style="text-align: center;" name="reservationDate" placeholder="대여 날짜">
							<span class="error-message" id="errorMessageReservationDate"></span>
							</div>
						</div>
						
						<div class="field">
							<select name="courtHourNo" id="department"
								style="text-align: center;">
								<option value="" disabled selected>- 대여시간 -</option>
								<option th:each="hour : ${court.operatingHours}" th:text="${hour.courtStart + ':00 ~ ' + hour.courtEnd + ':00'}"
         							th:sorted="${true}" th:sortby="hour.courtStart" th:value="${hour.courtHourNo}"></option>
							</select>
							<span class="error-message" id="errorMessageReservationHour"></span>
						</div>

						<br /> <br />

						<!-- 경기방식 -->
						<div class="field" style="text-align: center;">
							<input type="radio" id="priority-low" name="reservationMet"
								 value="2" checked /> <label for="priority-low">단식</label> <input
								type="radio" id="priority-normal" name="reservationMet"
								value="4" /> <label for="priority-normal">복식</label>
						</div>
						<br />

						<!-- 성별 -->
						<div class="field" style="text-align: center;">
							<input type="radio" id="woman" name="reservationGender" value="여성" checked /> <label
								for="woman" id ="woman">여성</label> <input type="radio" id="man"
								name="reservationGender" value="남성" /> <label for="man" id="man">남성</label> <input
								type="radio" id="mixing" name="reservationGender" value="혼합" /> <label
								for="mixing" id="mixing">혼합</label>
						</div>
						<br />

						<div class="field">
							<select name="gradeSetting" id="department"
								style="text-align: center;">
								<option value="" disabled selected>- 등급 제한 -</option>
								<option value="초보">초보</option>
								<option value="중수">중수</option>
								<option value="고수">고수</option>
							</select>
							<span class="error-message" id="errorMessageGradeSetting"></span>
						</div>
						<br />
						<div class="field">
							<div class="box" style="padding: 15px;">
								<p style="text-align: center; color: black;">
									참여 인원
									<code style="color: #134C43" id="peopleNumVal"
										onchange="handleRadioChange()">2명</code>
								</p>
							</div>
						</div>
						<input type="hidden" name="peopleNum" id="peopleNum" onchange="handleRadioChange()" value="0" >
						<input type="hidden" name="reservationStatus" value="매칭중">

						<div class="field">
							<div class="box" style="padding: 15px;">
								<p style="text-align: center; color: black;" id="reservationFeeVal" onchange="handleRadioChange()">0원</p>
							</div>
						</div>
						<div class="field" style="text-align: center;">
							<input type="submit" name="submit" id="submit" value="예약하기" />
						</div>
					</div>
				</div>

				<div class="col-lg-8" style="position: relative; float: right;"
					id="reservation">
					<div class="image fit">
						<!-- 체육관 사진 -->
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide" th:each="file : ${court.stadiumNo.files}">
									<img th:src="@{'/download/racket/' + ${file.fileStorename}}" alt="Stadium Image" class="stadiumImg">
								</div>
							</div>
						        <div th:if="${court.stadiumNo.files.size() == 0}">
						            <img src="/racket/images/reservationPark.jpg" alt="Alternative Image">
						        </div>
							
							
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					
					
					
					
					<section>
						<div class="box">
							<blockquote>
								<h3>체육관 정보</h3>
							</blockquote>
							<p style="color: black;">구장 이름 : <span th:text="${court.stadiumNo.stadiumName}"></span></p>
							<p style="color: black;">코트 번호 : <span th:text="${court.courtName}"></span></p>
							<p style="color: black;">구장 주소 : <span th:text="${court.stadiumNo.stadiumAddr}"></span></p>
							<p style="color: black;">운영 시간 : <span th:text="${court.stadiumNo.stadiumTime}"></span></p>
							<p style="color: black;">전화번호 : <span th:text="${court.stadiumNo.stadiumPhone}"></span></p>
							<p style="color: black;">시간당 가격(2인기준 인당) : <span id="stadiumFeeValue" th:value="${court.stadiumNo.stadiumFee}" th:text="${court.stadiumNo.stadiumFee}"></span>원</p>
							<p style="color: black;">구장 소개: <span th:text="${court.stadiumNo.stadiumContent}">구장에 대한 소개가 없습니다.</span></p>
							<div class="field">
								<p style="color: black;">
									<label for="message">모집 내용</label>
									<textarea name="reservationContent" id="reservationContent"
										rows="6" placeholder="모집에 대한 내용을 입력해주세요."></textarea>
										<span class="error-message" id="errorMessagereservationContent"></span>
							</div>
						</div>

					</section>
					
				</div>

			</form>
			<!-- Scripts -->
			<script src="/racket/common/assets/js/jquery.min.js"></script>
			<script src="/racket/common/assets/js/jquery.scrollex.min.js"></script>
			<script src="/racket/common/assets/js/jquery.scrolly.min.js"></script>
			<script src="/racket/common/assets/js/browser.min.js"></script>
			<script src="/racket/common/assets/js/breakpoints.min.js"></script>
			<script src="/racket/common/assets/js/util.js"></script>
			<script src="/racket/common/assets/js/main.js"></script>
			<script src="/racket/common/assets/js/scroll.js"></script>
			<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
			<!-- Note: Only needed for demo purposes. Delete for production sites. -->
			<script src="/racket/common/assets/js/demo.js"></script>
			
			<!-- 달력 -->
			<script src="/racket/common/assets/js/jquery-3.3.1.min.js"></script>
			<script src="/racket/common/assets/js/popper.min.js"></script>
			<script src="/racket/common/assets/js/bootstrap.min.js"></script>
			<script src="/racket/common/assets/js/rome.js"></script>
			<script src="/racket/common/assets/js/main.js"></script>
			<script type="text/javascript">
			var swiper = new Swiper(".mySwiper", {
			    spaceBetween : 30,
			    centeredSlides : true,
			    autoplay : {
			        delay : 2500,
			        disableOnInteraction : false,
			    },
			    pagination : {
			        el : ".swiper-pagination",
			        clickable : true,
			    },
			    navigation : {
			        nextEl : ".swiper-button-next",
			        prevEl : ".swiper-button-prev",
			    },
			});
			</script>
		</div>
	</th:block>
</body>
</html>