<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<title>강습하기</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">



<link rel="stylesheet" href="/racket/common/assets/css/main.css" />
<link rel="stylesheet" href="/racket/common/css/side.css" />
<noscript>
	<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
</noscript>

<!-- 달력 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap"
	rel="stylesheet">


<link rel="stylesheet"
	href="/racket/common/assets/fonts/icomoon/style.css">

<link rel="stylesheet" href="/racket/common/assets/css/rome.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/racket/common/assets/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="/racket/common/assets/css/style.css">

<script>
	function updateSliderValue() {
		var sliderValue = document.getElementById("customRange2").value;
		document.getElementById("value").textContent = sliderValue;
	}
</script>
</head>
<body class="is-preload">

	<th:block layout:fragment="content">

		<!-- Wrapper -->
		<div id="wrapper"
			style="margin: 50px; margin-top: 180px; margin-bottom: 0px;">
			<!-- Form -->
			<div class="col-lg-4" style="position: relative; float: right;"
				id="scroll">
				<div class="box" style="padding: 20px; margin: 0px;">
					<form method="post" action="#">

						<div class="field">
							<div class="form-group">
								<input type="text" class="priority-low" id="input" value="대여 날짜"
									style="text-align: center;">
							</div>
						</div>

						<div class="field">
							<select name="department" id="department"
								style="text-align: center;">
								<option value="">- 강습시간 -</option>
								<option value="1">00:00 ~ 02:00</option>
								<option value="2">02:00 ~ 04:00</option>
								<option value="3">04:00 ~ 06:00</option>
								<option value="4">06:00 ~ 08:00</option>
								<option value="5">08:00 ~ 10:00</option>
								<option value="6">10:00 ~ 12:00</option>
								<option value="7">12:00 ~ 14:00</option>
								<option value="8">14:00 ~ 16:00</option>
								<option value="9">16:00 ~ 18:00</option>
								<option value="10">18:00 ~ 20:00</option>
								<option value="10">20:00 ~ 22:00</option>
								<option value="11">22:00 ~ 24:00</option>
							</select>
						</div>
						<br />
						<div class="field">
							<div class="box" style="padding: 15px;">
								<p style="text-align: center; color: black;">
									강사
									<code style="color: #134C43">이클립</code>
								</p>
							</div>
						</div>

						<div class="field">
							<select name="department" id="department"
								style="text-align: center;">
								<option value="">- 강의수준 -</option>
								<option value="1">입문</option>
								<option value="1">초급</option>
								<option value="1">중급</option>
							</select>
						</div>
						<br />

						<div class="field">
							<div class="box" style="padding: 15px;">
								<p style="text-align: center; color: black;">
									최대 인원 <code style="color: #134C43" id="value">1</code><input type="range" class="form-range" min="1" max="20"
										id="customRange2" onchange="updateSliderValue()" value="1">
								</p>
							</div>
						</div>

						<div class="field">
							<div class="box" style="padding: 15px;">
								<p style="text-align: center; color: black;">강습비용</p>
							</div>
						</div>

						<div class="field" style="text-align: center;">
							<a href="#"> <input type="button" name="submit" id="submit"
								value="강습하기" />
							</a>
						</div>

					</form>

				</div>
			</div>


			<div class="col-lg-8" style="position: relative; float: right;"
				id="reservation">

				<div class="image fit">
					<img src="/racket/images/reservationPark.jpg" alt="" />
				</div>
				<!-- 체육관 정보 -->
				<section>
					<div class="box">
						<blockquote>
							<h3>체육관 정보</h3>
						</blockquote>
						<p style="color: black;">이름: 한빛 체육관</p>
						<p style="color: black;">주소: 서울특별시 광진구</p>
						<p style="color: black;">전화번호: 010-1234-5678</p>
						<p style="color: black;">시간당 가격: 20,000원</p>
					</div>
				</section>

				<!-- 강사 정보 -->
				<section>
					<div class="box" style="margin-bottom: 88px;">
						<blockquote>
							<h3>강사</h3>
						</blockquote>
						<p style="color: black;">강사: 이클립</p>
						<p style="color: black;">전화번호: 010-1234-5678</p>
						<p style="color: black;">강사 등급: 고수</p>
						<div class="field">
							<p style="color: black;">
								<label for="name">강의비용</label>
							</p>
							<input type="text" name="name" id="name" value="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
						</div>
						<br />
						<div class="field">
							<p style="color: black;">
								<label for="message">강의 내용</label>
								<textarea name="message" id="message" rows="6"></textarea>
						</div>
					</div>
				</section>
			</div>


			<!-- Scripts -->
			<script src="/racket/common/assets/js/jquery.min.js"></script>
			<script src="/racket/common/assets/js/jquery.scrollex.min.js"></script>
			<script src="/racket/common/assets/js/jquery.scrolly.min.js"></script>
			<script src="/racket/common/assets/js/browser.min.js"></script>
			<script src="/racket/common/assets/js/breakpoints.min.js"></script>
			<script src="/racket/common/assets/js/util.js"></script>
			<script src="/racket/common/assets/js/main.js"></script>
			<script src="/racket/common/assets/js/scroll.js"></script>

			<!-- Note: Only needed for demo purposes. Delete for production sites. -->
			<script src="/racket/common/assets/js/demo.js"></script>


			<!-- 달력 -->
			<script src="/racket/common/assets/js/jquery-3.3.1.min.js"></script>
			<script src="/racket/common/assets/js/popper.min.js"></script>
			<script src="/racket/common/assets/js/bootstrap.min.js"></script>
			<script src="/racket/common/assets/js/rome.js"></script>
			<script src="/racket/common/assets/js/main.js"></script>
		</div>
	</th:block>
</body>
</html>