<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<title>강습하기</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">



<link rel="stylesheet" href="/racket/common/assets/css/main.css" />
<link rel="stylesheet" href="/racket/common/css/side.css" />
<noscript>
	<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
</noscript>



<link rel="stylesheet"
	href="/racket/common/assets/fonts/icomoon/style.css">

<link rel="stylesheet" href="/racket/common/assets/css/rome.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/racket/common/assets/css/bootstrap.min.css">
<!-- 달력 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap"
	rel="stylesheet">

<!-- Style -->
<link rel="stylesheet" href="/racket/common/assets/css/style.css">

<style type="text/css">
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.swiper {
	width: 900px;
	height: 500px;
	margin-bottom: 20px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.stadium_sub_menu {
	position: sticky;
	top: 0px;
	background-color: #aaaaaa;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	z-index: 9999;
}

.stadium_sub_menu li {
	list-style: none;
	margin-right: 10px;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: 5px;
	cursor: pointer;
}

.stadium_sub_menu li.on {
	background-color: #fff;
	font-weight: bold;
}

</style>

<script>
	function updateSliderValue() {
		var sliderValue = document.getElementById("customRange2").value;
		document.getElementById("value").textContent = sliderValue+"명";
	}
</script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form'); // 폼 요소 선택
    const now = moment().format('yyyy-MM-DD');
    document.getElementById("cashDate").value=now;

    // 폼 제출 시 이벤트 핸들러
    form.addEventListener('submit', function(event) {
      const reservationDateInput = document.getElementById('input'); // 대여 날짜 입력 필드 선택
      const reservationHourInput = document.querySelector('select[name="courtHourNo"]'); // 대여시간 선택 필드 선택
      const reservationContentInput = document.getElementById('trainingContent'); // 모집날짜 입력 필드 선택
      const gradeSettingInput = document.querySelector('select[name="trainingGrade"]'); // 등급 선택 필드 선택
      var inputElement = document.getElementById('trainingFee');

      const errorMessageTrainingDate = reservationDateInput.nextElementSibling; // 대여 날짜 에러 메시지 요소 선택
      const errorMessageTrainingHour = reservationHourInput.nextElementSibling; // 대여 시간 에러 메시지 요소 선택
      const errorMessageTrainingContent = reservationContentInput.nextElementSibling; // 모집 날짜 에러 메시지 요소 선택
      const errorMessageGradeSetting = gradeSettingInput.nextElementSibling; // 등급 에러 메시지 요소 선택
      var errorMessageElement = document.getElementById('errorMessageTrainingFee');
      
      // 기존 에러 메시지 초기화
      errorMessageTrainingDate.textContent = '';
      errorMessageTrainingHour.textContent = '';
      errorMessageTrainingContent.textContent = '';
      errorMessageGradeSetting.textContent = '';
      errorMessageElement.innerText = ''; // 에러 메시지를 지움

      let hasError = false; // 에러 여부를 저장하는 변수

      // 대여 날짜 필드 확인
      if (reservationDateInput.value === '') {
        hasError = true;
        errorMessageTrainingDate.textContent = '* 날짜를 선택해주세요.'; // 에러 메시지 표시
      }

      // 대여시간 필드 확인
      if (reservationHourInput.value === '') {
        hasError = true;
        errorMessageTrainingHour.textContent = '* 시간을 선택해주세요.'; // 에러 메시지 표시
      }

      // 모집날짜 필드 확인
      if (reservationContentInput.value === '') {
        hasError = true;
        errorMessageTrainingContent.textContent = '* 강의 내용을 작성해주세요.'; // 에러 메시지 표시
      }

      // 등급 필드 확인
      if (gradeSettingInput.value === '') {
        hasError = true;
        errorMessageGradeSetting.textContent = '* 등급을 선택해주세요.'; // 에러 메시지 표시
	   }
      
	  // 입력값이 없으면 에러 메시지를 표시
      if (inputElement.value.trim() === '') {
        hasError = true;
        errorMessageElement.innerText = '* 강습비를 작성해주세요.';
      }
	  
      if (hasError) {
        event.preventDefault(); // 폼 제출 방지
      }
    });
    
  });
</script>


<script th:inline="javascript">
document.addEventListener('DOMContentLoaded', function() {
	  var stadiumFeeValue = document.getElementById("amountSpent").value;
      var totalCash = document.getElementById("totalCash").value;
      var price = stadiumFeeValue*2;
      var totalAmount = totalCash - price;
      document.getElementById("totalAmount").value = totalAmount;

    //HTML 요소 가져오기
    var selectElement = document.getElementById("gradeSetting");
    var gradeSettingValueElement = document.getElementById("gradeSettingValue");
    var totalCash = document.getElementById("totalCash").value;

    // 드롭다운 값 변경 시 이벤트 처리
    selectElement.addEventListener("change", function() {
      // 선택한 값 가져오기
      var selectedValue = selectElement.value;

      // 선택한 값 표시
      gradeSettingValueElement.textContent = selectedValue;

    });

    // HTML 요소 가져오기
    var trainingFeeInputElement = document.getElementById("trainingFee");
    var trainingFeeValueElement = document.getElementById("trainingFeeVal");

    // 입력 값 변경 시 이벤트 처리
    trainingFeeInputElement.addEventListener("input", function() {
      // 입력된 값 가져오기
      var enteredValue = trainingFeeInputElement.value;
      // 값이 없을 경우 "0원"으로 설정
      if (enteredValue === "") {
        trainingFeeValueElement.textContent = "0원";
      } else {
        trainingFeeValueElement.textContent = enteredValue+"원";
      }
    });

})
</script>
<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>
<body class="is-preload">

	<th:block layout:fragment="content">

		<!-- Wrapper -->
		<div id="wrapper"
			style="margin: 50px; margin-top: 180px; margin-bottom: 0px;">
			<!-- Form -->
			<form method="post" action="/racket/training/insert">
			<!-- 임시 id값 -->
            <input type="hidden" name="memberId" th:value="${#session.getAttribute('user').memberId}">
            <input type="hidden" name="memberGender" th:value="${#session.getAttribute('user').memberGender}"><input type="hidden" name="totalCash" id="totalCash" th:value="${totalAmount}">
            <input type="hidden" name="totalCash" id="totalCash" th:value="${totalAmount}">
            <input type="hidden" name="totalAmount" id="totalAmount" onchange="handleRadioChange()" value="0" > 
            <input type="hidden" name="reservationFee" id="reservationFee" th:value="${court.stadiumNo.stadiumContent}" onchange="handleRadioChange()" value="0" >
			<input type="hidden" name="amountSpent" id="amountSpent" th:value="${court.stadiumNo.stadiumFee}" >
			<input type="hidden" name="cashDate" id="cashDate" >	
				<div class="col-lg-4" style="position: relative; float: right;"
					id="scroll">
					<div class="box" style="padding: 20px; margin: 0px;">

						<div class="field">
							<div class="form-group">
								<input type="text" class="priority-low" id="input"  style="text-align: center;" name="trainingDate" placeholder="대여 날짜" readonly>
								<span class="error-message" id="errorMessageTrainingDate"></span>
							</div>
						</div>

						<div class="field">
							<select name="courtHourNo" id="department"
								style="text-align: center;">
								<option value="" disabled selected>- 강습시간 -</option>
								<option th:each="hour : ${court.operatingHours}" th:text="${hour.courtStart + ':00 ~ ' + hour.courtEnd + ':00'}" 
         							th:sorted="${true}" th:sortby="hour.courtStart" th:value="${hour.courtHourNo}"></option>
							</select>
							<span class="error-message" id="errorMessageTrainingHour"></span>
						</div>
						<br />

						<div class="field">
							<select name="trainingGrade" id="gradeSetting"
								style="text-align: center;">
								<option value="" disabled selected>- 강의수준 -</option>
								<option value="입문">입문</option>
								<option value="초급">초급</option>
								<option value="중급">중급</option>
							</select>
							<span class="error-message" id="errorMessageGradeSetting"></span>
						</div>
						<br />

						<div class="field">
							<div class="box" style="padding: 15px;">
								<p style="text-align: center; color: black;">
									최대 인원
									<code style="color: #134C43" id="value">1명</code>
									<input type="range" class="form-range" min="1" max="10"
										id="customRange2" onchange="updateSliderValue()" value="1" name="trainingMax">
								<span class="error-message" id="errorMessagePeople"></span>
								</p>
							</div>
						</div>

						<div class="field">
							<div class="box" style="padding: 15px;">
								<p style="text-align: center; color: black;">강습비용 <b><span id="trainingFeeVal">0원</span></b></p>
							</div>
						</div>
						<div class="field" style="text-align: center;">
							<input type="submit" name="submit" id="submit" value="강습하기" />
						</div>
				


					</div>
				</div>


				<div class="col-lg-8" style="position: relative; float: right;"
					id="reservation">
					<div class="image fit">
						<!-- 체육관 사진 -->
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide" th:each="file : ${court.stadiumNo.files}">
									<img th:src="@{'/download/racket/' + ${file.fileStorename}}" alt="Stadium Image" class="stadiumImg">
								</div>
							</div>
						        <div th:if="${court.stadiumNo.files.size() == 0}">
						            <img src="/racket/images/reservationPark.jpg" alt="Alternative Image">
						        </div>
							
							
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					
					<!-- 강사 정보 -->
					<section>
						<div class="box">
							<blockquote>
								<h3>강사</h3>
							</blockquote>
							<p style="color: black;">강사 이름 : <span th:text="${#session.getAttribute('user').memberName}"></span></p>
							<p style="color: black;">강사 나이 : <span th:text="${#session.getAttribute('user').memberAge}+'세'"></span></p>
							<p style="color: black;">강사 성별 : <span th:text="${#session.getAttribute('user').memberGender}"></span></p>
							<p style="color: black;">전화번호 : <span th:text="${#session.getAttribute('user').memberPhone}"></span></p>
							<p style="color: black;">이메일 : <span th:text="${#session.getAttribute('user').memberEmail}"></span></p>
							<p style="color: black;">강습 수준 : <span id="gradeSettingValue"></span></p>
							<div class="field">
								<p style="color: black;">
									<label for="name">강의비용</label>
								</p>
								<input type="text" name="trainingFee" id="trainingFee" 
									oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
									 placeholder="강습비를 작성해주세요." />
										<span class="error-message" id="errorMessageTrainingFee"></span>
							</div>
							<br />
							<div class="field">
								<p style="color: black;">
									<label for="message">강의 내용</label>
									<textarea name="trainingContent" id="trainingContent" rows="6"
									 placeholder="강습에 대한 내용을 입력해주세요." ></textarea>
										<span class="error-message" id="errorMessageTrainingContent"></span>
							</div>
						</div>
					</section>
					
					<!-- 체육관 정보 -->
					<section>
						<div class="box">
							<blockquote>
								<h3>체육관 정보</h3>
							</blockquote>
							<p style="color: black;">구장 이름: <span th:text="${court.stadiumNo.stadiumName}"></span></p>
							<p style="color: black;">코트 번호: <span th:text="${court.courtName}"></span></p>
							<p style="color: black;">구장 주소: <span th:text="${court.stadiumNo.stadiumAddr}"></span></p>
							<p style="color: black;">운영 시간: <span th:text="${court.stadiumNo.stadiumTime}"></span></p>
							<p style="color: black;">전화번호: <span th:text="${court.stadiumNo.stadiumPhone}"></span></p>
							<p style="color: black;">시간당 가격: <span id="amountSpent" th:value="${court.stadiumNo.stadiumFee}" th:text="${court.stadiumNo.stadiumFee}"></span>원</p>
							<p style="color: black;">구장 소개: <span th:text="${court.stadiumNo.stadiumContent}">구장에 대한 소개가 없습니다.</span></p>
						</div>
					</section>

					
				</div>

			</form>

			<!-- Scripts -->
			<script src="/racket/common/assets/js/jquery.min.js"></script> 
			<script src="/racket/common/assets/js/jquery.scrollex.min.js"></script>
			<script src="/racket/common/assets/js/jquery.scrolly.min.js"></script>
			<script src="/racket/common/assets/js/browser.min.js"></script>
			<script src="/racket/common/assets/js/breakpoints.min.js"></script>
			<script src="/racket/common/assets/js/util.js"></script>
			<script src="/racket/common/assets/js/main.js"></script>
			<script src="/racket/common/assets/js/scroll.js"></script>
			<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
			<!-- Note: Only needed for demo purposes. Delete for production sites. -->
			<script src="/racket/common/assets/js/demo.js"></script>


			<!-- 달력 -->
			
			<script src="/racket/common/assets/js/jquery-3.3.1.min.js"></script>
			<script src="/racket/common/assets/js/popper.min.js"></script>
			<script src="/racket/common/assets/js/bootstrap.min.js"></script>
			<script src="/racket/common/assets/js/rome.js"></script>
			<script src="/racket/common/assets/js/main.js"></script>
			
			
			<script type="text/javascript">
			var swiper = new Swiper(".mySwiper", {
			    spaceBetween : 30,
			    centeredSlides : true,
			    autoplay : {
			        delay : 2500,
			        disableOnInteraction : false,
			    },
			    pagination : {
			        el : ".swiper-pagination",
			        clickable : true,
			    },
			    navigation : {
			        nextEl : ".swiper-button-next",
			        prevEl : ".swiper-button-prev",
			    },
			});
			</script>
		</div>
	</th:block>
	
</body>
</html>