<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>강습 목록</title>
</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/racket/common/css/stadium/stadium.css" />
	</th:block>
	<th:block layout:fragment="script">
		<link rel="stylesheet" href="/racket/common/css/stadiumDetail.css" />
	</th:block>
	컨텐츠 영역
	<th:block layout:fragment="content">
		<main class="mt-5">
			<div class="container-fluid px-4">
				<h1 class="mt-4">강습 목록</h1>
				<br />
				<div class="row">
					<div class="col-md-2">
						<div class="dropdown float-right">
							<select name="type" onchange="showCategoryContent(this.value)">
								<option value="all" selected>강습 수준</option>
								<option value="seoul">입문</option>
								<option value="incheon">초급</option>
								<option value="incheon">중급</option>
							</select>
						</div>
					</div>
					<div class="col-md-10 text-end" style="margin-bottom: 10px;">
						<form th:action="@{/trainings/search}" method="get"
							name="search-form" autocomplete="off">
							<select name="type">
								<option value="grade" selected>강습 수준</option>
								<option value="min">최소 금액</option>
								<option value="max">최대 금액</option>
							</select> <input type="text" name="keyword" value="" size="20"
								title="검색할 내용을 입력하세요" />
							<button class="Btn-Gray Xs" type="submit">검색</button>
						</form>
					</div>
				</div>
				<div th:if="${traininglist == null or traininglist.isEmpty()}" style="text-align: center; padding: 30px; padding-top: 100px;">
  					  강습에 대한 내용이 없습니다.
				</div>
				<div th:each="training : ${traininglist}">
					<div class="d-block d-md-flex podcast-entry bg-white mb-5"
						data-aos="fade-up">
						<div th:each="file : ${stadium.files}">
								<div th:if="${file.stadiumFileNum =='1'}">
									<img class="stadiumImg" th:src="@{'/download/racket/' + ${file.fileStorename}}" alt="Stadium Image">
								</div>
						</div>
						<div th:if="${stadium.files.size() == 0}">
							<img class="image" src="/racket/images/stadiumexam.jpg"
								alt="Alternative Image">
						</div>
						<div class="text">

							<h3 class="font-weight-light">
								<a
									th:href="@{/training/memberlist/read/{trainingNo}(trainingNo=${training.trainingNo})}"
									th:text="${stadium.stadiumName}"></a>
							</h3>
							<div class="text-white mb-3">
								<span class="text-black-opacity-05"> <small
									th:text="${'강습수준 : '+training.trainingGrade}"></small> <br /> <small
									th:text="${'강습비 : '+training.trainingFee+'원'}"></small> <br /> <small
									th:text="${'강습일 : '+training.trainingDate+' '+courtoperatinghours.courtStart+':00 ~ '+courtoperatinghours.courtEnd+':00'}"></small>
								</span>
							</div>

						</div>
					</div>
				</div>

				<div class="container" data-aos="fade-up" th:if="${traininglist != null and not #lists.isEmpty(reservationlist)}">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="site-block-27">
								<ul class="icons" style="margin: 0px;">
									<li
										th:class="${currentPage == 0 ? 'icon-angle-double-right disabled' : 'icon-angle-double-right'}">
										<a class="page-link"
										th:href="@{/training/traininglist(pageNo=0)}">&laquo;</a>
									</li>
									<li
										th:class="${currentPage == 0 ? 'icon-angle-double-right disabled' : 'icon-angle-double-right'}">
										<a class="page-link"
										th:href="${currentPage == 0 ? '' : '@{/training/traininglist(pageNo=' + (currentPage - 1) + ')}'}">&lt;</a>
									</li>

									
									<li th:each="page: ${#numbers.sequence(0, totalPages - 1)}"
										th:class="${currentPage == page ? 'page-item active' : 'page-item'}">
										<a class="page-link"
										th:href="@{/training/traininglist(pageNo=${page})}"
										th:text="${page + 1}"></a>
									</li>
									<li
										th:class="${currentPage == totalPages - 1 ? 'icon-angle-double-right disabled' : 'icon-angle-double-right'}">
										<a class="page-link"
										th:href="${currentPage == totalPages - 1 ? '' : '@{/training/traininglist(pageNo=' + (currentPage + 1) + ')}'}">&gt;</a>
									</li>

									<li
										th:class="${currentPage == totalPages - 1 ? 'icon-angle-double-right disabled' : 'icon-angle-double-right'}">
										<a class="page-link"
										th:href="@{/training/traininglist(pageNo=${totalPages - 1})}">&raquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</main>
		
	</th:block>
</body>
</html>