<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
	<head>
		<meta charset="UTF-8">
		<title>통계</title>
		
		<!-- 제이쿼리 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- chart.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
		<!-- 멤버차트 js -->
		<script type="text/javascript" src="/racket/common/js/admin/statistics_member.js"></script>
		<!-- 예약차트 js -->
		<script type="text/javascript" src="/racket/common/js/admin/statistics_reservation.js"></script>
		<!-- 강습차트 js -->
		<script type="text/javascript" src="/racket/common/js/admin/statistics_training.js"></script>
		<!-- css -->
		<th:block layout:fragment="css">
			<link rel="stylesheet"
				href="/racket/common/css/statistics/statistics.css" />
		</th:block>
	</head>
	<body>	
		<th:block layout:fragment="content">
			<div class="statistics_body_container">
				<div class="memberInfo">
					<p>가입현황</p>
					<canvas id="bar_chart_member"></canvas>
				</div>
				<div class="reservationInfo">
					<p>예약, 매칭현황</p>
					<canvas id="bar_chart_reservation"></canvas>
				</div>
				<div class="trainingInfo">
					<p>강습현황</p>
					<canvas id="bar_chart_training"></canvas>
				</div>
			</div>
		</th:block>
	</body>
</html>