<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="side">
		<div class="sidebar">
			<ul class="menu">
				<li><a href="/racket/main_intro"><img alt="" src="/racket/images/page.png">사이트 소개</a></li>
				<li><a href="/racket/stadium"><img alt="" src="/racket/images/score-board.png">전체구장보기</a></li>
				<li><a href="/racket/reservation"><img alt="" src="/racket/images/man-playing-badminton.png">체육관 예약</a></li>
				<hr/>
				<li><a href="/racket/announcement"><img alt="" src="/racket/images/megaphone.png">공지사항</a></li>
				<li><a href="/racket/bulletin"><img alt="" src="/racket/images/conversation.png">전체게시판</a></li>
				<hr/>
				<li><a href="/racket/inquiryboard?pageNo=0"><img alt="" src="/racket/images/question-and-answer.png">문의하기</a></li>
				<hr/>
				<li><a href="http://instargram.com"><img alt="" src="/racket/images/instagram.png"> Instagram</a></li>
				<li><a href="http://youtube.com"><img alt="" src="/racket/images/youtube.png"> Youtube</a></li>
				<li><a href="http://facebook.com"><img alt="" src="/racket/images/facebook.png"> Facebook</a></li>
			</ul>
		</div>
	</div>
</body>
</html>