<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>라켓 - 체육관 정보</title>

</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet"
			href="/racket/common/css/stadium/stadiumDetail.css" />
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	</th:block>
	<th:block layout:fragment="content">
		<div class="container-fluid px-4 mt-5">
		
			<!-- 체육관 사진 -->
			<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" th:each="file : ${stadium.files}">
							<img th:src="@{'/download/racket/' + ${file.fileStorename}}" alt="Stadium Image">
						</div>
					</div>
					<!-- 대체 이미지 -->
					<div th:if="${stadium.files.size() == 0}">
						<div class="swiper-slide" style="width: 86.7%;">
						   <img src="https://picsum.photos/1321/500">
						</div>
					</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			</div>

			<div class="ul-sticky">
				<div class="col-md-12">
					<div class="content-wrapper">

						<div class="stadium_detail">
							<div class="stadium_info_layer">
								<div class="stadium_sub_menu_wrapper">
									<ul class="stadium_sub_menu">
										<li class="menu_home on" onclick="go_menu('name')">주요정보</li>
										<li class="menu_map" onclick="go_menu('map')">지도</li>
										<li class="menu_conv" onclick="go_menu('review')">코트</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="rounded">
						<div class="stadium_infos_wrapper">
							<div class="stadium_info">
								<div style="padding: 15px;">
									<div class="stadium_info_header">
										<div class="name">
											<h2 th:text="${stadium.stadiumName}"></h2>
										</div>
									</div>
									<div class="stadium_rate">
										평점 <span class="star">&#9733;</span> <span class="rate_text">5.0</span>
									</div>
									<br />
									<div class="stadium_addr">
										구장 이름 : <span th:text="${stadium.stadiumName}"></span>
									</div>
									<div class="stadium_addr">
										구장 주소 : <span th:text="${stadium.stadiumAddr}"></span>
									</div>
									<div class="stadium_open">
										운영시간 : <span th:text="${stadium.stadiumTime}"></span>
									</div>
									<div class="stadium_addr">
										대관료 (시간당) : <span th:text="${stadium.stadiumFee+'원'}"></span>
									</div>
									<div class="stadium_addr">
										전화번호 : <span th:text="${stadium.stadiumPhone}"></span>
									</div>
									<div class="stadium_addr">
										코트 수 : <span th:text="${participantCount+'코트'}"></span>
									</div>
								</div>
								<hr />

							</div>
							<div class="stadium_info" id="stadium_info_price"
								style="padding: 15px;">
								<h2>구장 소개</h2>
								<div class="stadium_info_contents">
									<span th:text="${stadium.stadiumContent}"></span>
								</div>
								<div
									th:if="${stadium.stadiumContent == null or stadium.stadiumContent.isEmpty()}">
									<span>구장에 대한 소개가 없습니다.</span>
								</div>
							</div>

							<hr />
							<div class="stadium_info" id="stadium_info_conv"
								style="padding: 15px;">
								<h2>편의시설</h2>
								<ul class="stadium_conv_list">
									<li class="stadium_conv code0001">무료 주차</li>
									<li class="stadium_conv code0003">샤워실</li>
									<li class="stadium_conv code0007">정수기</li>
									<li class="stadium_conv code0008">와이파이</li>
									<li class="stadium_conv code0012">냉난방</li>
									<li class="stadium_conv code0014">화장실</li>
								</ul>
							</div>
							<!-- <hr />
							<div class="stadium_info review" style="padding: 15px;">
								<h2>사용자 리뷰</h2>
								<div class="stadium_review_list">
									<ul></ul>
								</div>
								<div class="stadium_review_empty">리뷰가 존재하지 않습니다.</div>
							</div> -->
						</div>
					</div>
				</div>
				<!-- 오류가 나는 부분 -->
				<div class="col-md-6">
					<div class="rounded" style="padding: 20px;">
						
							<div class="stadium_info review" style="padding: 15px;">
							<h2>코트</h2>
							<div th:if="${#session.getAttribute('user').memberAuth > 0}">
								<div class="row" th:each="court : ${courtlist}">
									<h5 class="col-md-7 align-self-center">
										<span th:text="${court.courtName}"></span>
									</h5>
									<h5 class="col-md-2" style="margin-right: 10px;">
										<a th:href="@{'/training/read/' + ${court.courtNo}}"
											class="button" type="button">강습</a>
									</h5>
									<h5 class="col-md-2" style="margin-right: 10px;">
										<a th:href="@{'/reservation/read/' + ${court.courtNo}}"
											class="button" type="button">예약</a>
									</h5>
								</div>
							</div>
							<div th:if="${#session.getAttribute('user').memberAuth == 0}">
								<div class="row" th:each="court : ${courtlist}">
									<h5 class="col-md-9 align-self-center">
										<span th:text="${court.courtName}"></span>
									</h5>
									<h5 class="col-md-3">
										<a th:href="@{'/reservation/read/' + ${court.courtNo}}"
											class="button" type="button">예약</a>
									</h5>
								</div>
							</div>
							<div th:if="${courtlist.isEmpty()}">
								<span>이용 가능한 코트가 없습니다.</span>
							</div>
						</div>
						<hr />
						<span th:text="${stadium.stadiumName}" id="stadiumName" style="display:none"></span>
						<span th:text="${stadium.stadiumAddr}" id="stadiumAddr" style="display:none"></span>
						<div class="stadium_info map" style="padding: 15px;">
							<h2>지도</h2>
							<div id="map" style="width: 100%; height: 400px;"></div>
						</div>
						
						
					</div>

				</div>
			</div>

		</div>


		<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script type="text/javascript"
			src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tvskdufl5a"></script>
		<script type="text/javascript"
			src="/racket/common/js/stadium/stadiumDetail.js"></script>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0f5c58b68fea7766e85c60f243488cec&libraries=services"></script>
		<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	    mapOption = {
	        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
	        level: 3 // 지도의 확대 레벨
	    };  

	// 지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption); 
	var address = document.getElementById('stadiumAddr');
	var Name = document.getElementById('stadiumName');
	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();
	
	console.log(address.innerText);
	console.log(Name.innerText);
	// 주소로 좌표를 검색합니다
	geocoder.addressSearch(address.innerText, function(result, status) {

	    // 정상적으로 검색이 완료됐으면 
	     if (status === kakao.maps.services.Status.OK) {

	        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

	        // 결과값으로 받은 위치를 마커로 표시합니다
	        var marker = new kakao.maps.Marker({
	            map: map,
	            position: coords
	        });

	        // 인포윈도우로 장소에 대한 설명을 표시합니다
	        var infowindow = new kakao.maps.InfoWindow({
	            content: '<div style="width:150px;text-align:center;padding:6px 0;">'+Name.innerText+'</div>'
	        });
	        infowindow.open(map, marker);

	        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
	        map.setCenter(coords);
	    } 
	});    
	</script>
	</th:block>
</body>
</html>