<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>라켓 - 체육관 정보</title>

</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/racket/common/css/stadium/stadiumDetail.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	</th:block>
	<th:block layout:fragment="content">
		<div class="container-fluid px-4 mt-5">
			<!-- 체육관 사진 -->
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="https://picsum.photos/1321/500">
					</div>
					<div class="swiper-slide">
						<img src="https://picsum.photos/1322/500">
					</div>
					<div class="swiper-slide">
						<img src="https://picsum.photos/1323/500">
					</div>
					<div class="swiper-slide">
						<img src="https://picsum.photos/1324/500">
					</div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			</div>
		
		
		<div class="ul-sticky">
			<div class="col-md-12">
			<div class="content-wrapper">

				<div class="stadium_detail">
					<div class="stadium_info_layer">
						<div class="stadium_sub_menu_wrapper">
							<ul class="stadium_sub_menu">
								<li class="menu_home on" onclick="go_menu('name')">주요정보</li>
								<li class="menu_map" onclick="go_menu('map')">지도</li>
								<li class="menu_conv" onclick="go_menu('review')">후기</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		
		<div class="row">
				<div class="col-md-6">
					<div class="rounded">
					<div class="stadium_infos_wrapper">
							<div class="stadium_info">
								<div class="stadium_info_header">
									<div class="name"><h2 th:text="${ stadium.get().stadiumName }">일반 체육관</h2></div>
								</div>
								<div class="stadium_rate">
									평점 <span class="star">&#9733;</span> <span class="rate_text">5.0</span>
								</div>
								<div class="stadium_addr" th:text="${ stadium.get().stadiumAddr }">경기 고양시 덕양구 화전동 162-4</div>
								<div class="stadium_addr" th:text="${ stadium.get().stadiumName }">독산 배드민턴 체육관</div>
								<br />
								<div class="stadium_open">운영시간 : <span th:text="${ stadium.get().stadiumTime }">6:00~9:30</span></div>

								
								<hr />
								
								
							</div>
							<div class="stadium_info" id="stadium_info_price">
								<h2>대관료</h2>
								<div class="stadium_info_contents">
									토요일 9시 ~ 11시 예약은 9시 15분 부터
									사용가능하세요! 이점 양해 부탁드려요!</div>

								<h2>코트수</h2>
								<div class="stadium_info_contents">1코트</div>

								<div class="stadium_info_contents bg_memo">저희 상암 체육관 복식 3코트 단식
									1코트로 이루어져 있습니다!종합체육관 특성 상 건물 통대관을 저렴하게 제공하고 있어요! 많은 예약 및 관심
									부탁드려요</div>
							</div>


							<div class="stadium_info" id="stadium_info_conv">
								<h2>편의시설</h2>
								<ul class="stadium_conv_list">
									<li class="stadium_conv code0001">무료 주차</li>
									<li class="stadium_conv code0003">샤워실</li>
									<li class="stadium_conv code0007">정수기</li>
									<li class="stadium_conv code0008">와이파이</li>
									<li class="stadium_conv code0012">냉난방</li>
									<li class="stadium_conv code0014">화장실</li>
								</ul>

							</div>
							<hr />
							<div class="stadium_info map">
									<h2>지도</h2>
								<div id="map" style="width:100%;height:400px;"></div>
							</div>
							<hr />
							<div class="stadium_info review">
								<h2>사용자 리뷰</h2>
								<div class="stadium_review_list">
									<ul></ul>
								</div>
								<div class="stadium_review_empty">리뷰가 존재하지 않습니다.</div>
							</div>
						</div>
					</div>
					</div>
					
					<div class="col-md-6">
						<div class="rounded">
							<div class="row">
								<div class="col-md-10 align-self-center">										
									<p>코트1</p>
								</div>
								<div class="col-md-2">
									<button class="button" type="button">예약</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
		
			<a href="머임">머임!!</a>
		</div>
		
	
		<script	type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tvskdufl5a"></script>
		<script type="text/javascript" src="/racket/common/js/stadium/stadiumDetail.js" ></script>
	</th:block>
</body>
</html>