<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/racket/common/assets/css/main.css"/>
		<link rel="stylesheet" href="/racket/common/assets/css/blacklist.css" />
		<link rel="stylesheet" href="common/css/styles.css"/>
		<noscript>
			<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
		</noscript>
		<style type="text/css">
			body{
				font-family:'ONE-Mobile-POP';
			}
		</style>
	</th:block>
	<th:block layout:fragment="content" >
		<div class="container-fluid" style="margin-top: 120px; margin-left: 50px">
		<div class="card">
			<div class="card-body">
				<div style="margin-top: 20px">
					<h3 class="card-title fw-semibold mb-4" style="font-size: 30px">관리자 > 구장 등록</h3>
				</div>
				<!-- Table -->
				<div class="col-lg-11"
					style="position: relative; float: right; margin-right: 60px; margin-top: 40px;">
					<div class="box" style="padding: 20px; margin: 20px;">
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>등록여부</th>
										<th>구장</th>
										<th>닉네임</th>
										<th>구장운영시간</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td><input type="checkbox" id="1" name="1" /><label
											for="1"></label></td>
										<td>한빛구장</td>
										<td>아이디1</td>
										<td>2022년 5월 22일 18:00</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="2" name="2" /><label
											for="2"></label></td>
										<td>샛별체육관</td>
										<td>아이디2</td>
										<td>2022년 5월 23일 18:00</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="3" name="3" /><label
											for="3"></label></td>
										<td>나라체육관</td>
										<td>아이디3</td>
										<td>2022년 5월 24일 13:00</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="4" name="4" /><label
											for="4"></label></td>
										<td>자바 배드민턴장</td>
										<td>아이디4</td>
										<td>2022년 5월 25일 12:00</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="5" name="5" /><label
											for="5"></label></td>
										<td>용오름구장</td>
										<td>아이디5</td>
										<td>2022년 5월 25일 13:00</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="6" name="6" /><label
											for="6"></label></td>
										<td>멀캠체육관</td>
										<td>아이디6</td>
										<td>2022년 5월 25일 18:00</td>
									</tr> -->
									<tr th:each="stadium:${stadiumlist}">
										<td><input type="checkbox" id="6" name="6" /><label
											for="6"></label></td>
										<td><span th:text="${stadium.stadiumName}"></span><br></td>
										<td><span th:text="${stadium.memberId}"></span><br></td>
										<td><span th:text="${stadium.stadiumTime}"></span><br></td>
										<!-- <td><span th:text="${stadium.stadiumFee}"></span><br></td> -->
										<!-- <td><a th:href="@{/erp/board/delete.do(boardNo=${board.boardNo})}">삭제</a></td> -->
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div align="right" style="margin-top: 40px;">
						<button type="submit"
							style="border-radius: 6px; background-color: #4CAF50;">등록</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</th:block>
</body>
</html>