<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/racket/common/assets/css/main.css" />
		<link rel="stylesheet" href="/racket/common/assets/css/blacklist.css" />
		<link rel="stylesheet" href="common/css/styles.css" />
		<noscript>
			<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
		</noscript>
		<style type="text/css">
body {
	font-family: 'ONE-Mobile-POP';
}
</style>
	</th:block>
	<th:block layout:fragment="content">
		<div class="container-fluid"
			style="margin-top: 120px; margin-left: 50px">
			<div class="card">
				<div class="card-body">
					<div style="margin-top: 20px">
						<h3 class="card-title fw-semibold mb-4" style="font-size: 30px">관리자
							> 구장 등록</h3>
					</div>
					<!-- Table -->
					<div class="col-lg-11"
						style="position: relative; float: right; margin-right: 60px; margin-top: 40px;">
						<!-- <form action="/admin/update" method="post"> -->
						<form id="stadiumForm" onsubmit="event.preventDefault(); updateStadiumStatus();">
							<div class="box" style="padding: 20px; margin: 20px;">
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>등록여부</th>
												<th>구장</th>
												<th>닉네임</th>
												<th>구장운영시간</th>
												<th>구장 연락처</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="stadium:${stadiumlist}">
												<td>
													<input th:id="|checkbox-${stadium.stadiumNo}|" type="checkbox" name="stadiumStatus" th:checked="${stadium.stadiumStatus == 1}" onclick="toggleStatus(this);" />
												    <label th:for="|checkbox-${stadium.stadiumNo}|"></label>
												    <input type="hidden" name="stadiumNo" th:value="${stadium.stadiumNo}" />
													</td>
												<td><span th:text="${stadium.stadiumName}"></span><br></td>
												<td><span th:text="${stadium.memberId}"></span><br></td>
												<td><span th:text="${stadium.stadiumTime}"></span><br></td>
												<td><span th:text="${stadium.stadiumPhone}"></span><br></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div align="right" style="margin-top: 40px;">
								<button type="submit"
									style="border-radius: 6px; background-color: #4CAF50;">등록</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
        <script src="/racket/common/js/admin/admin_register.js"></script>
	</th:block>
</body>
</html>