<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" type="text/css" href="common/css/inquirywrite.css">
		<link rel="stylesheet" href="common/css/styles.css"/>
		<link rel="stylesheet" href="common/css/usertable.css"/>
	</th:block>
	<th:block layout:fragment="content">
		<div class="container-fluid" style="margin-top: 120px; margin-left: 50px">
		<div class="card">
			<div class="card-body">
				<div style="margin-top: 20px; margin-bottom: 60px">
					<h3 class="card-title fw-semibold mb-4" style="font-size: 30px">관리자 > 회원 목록</h3>
				</div>
				<div>
					<table>
						<thead>
							<tr>
								<th>멤버</th>
								<th>아이디</th>
								<th>닉네임</th>
								<th>가입 날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
							<tr>
								<td>이름1</td>
								<td>아이디1</td>
								<td>닉네임1</td>
								<td>2023-06-09</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</th:block>
</body>
</html>