<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" type="text/css" href="common/css/inquirywrite.css">   
		<link rel="stylesheet" href="common/css/styles.css"/>
		<style type="text/css">
			span {
				margin-right: 10px;
			}
		</style>
	</th:block>
	<th:block layout:fragment="content">
		<div class="container-fluid" style="margin-top: 120px; margin-left: 50px">
		<div class="card">
			<div class="card-body">
				<div style="margin-bottom: 60px;">
					<h3 class="card-title fw-semibold mb-4" style="font-size: 30px">문의>글읽기</h3>
				</div>
				<div>
					<table style="width: 1000px ; height: 150px">
						  <tr>
						    <th width="100px">제목</th>
						    <td>제목1</td>
						  </tr>
						  <tr>
						    <th width="100px">작성자</th>
						    <td>아이디</td>
						  </tr>
						  <tr>
						    <th width="100px">분류</th>
						    <td>카테고리</td>
						  </tr>
					</table>
				</div>
				<br/>
				<div style="margin-left: 10px; margin-bottom: 40px">내용</div>
				<div align="right">
					<span>
						<button type="submit" style="border-radius: 6px" onclick="window.location.href='/racket/inquiryboard'">목록</button>
					</span>
					<span>
						<button type="submit" style="border-radius: 6px">수정</button>
					</span>
					<span>
						<button type="submit" style="border-radius: 6px">삭제</button>
					</span>
					<span>
						<button type="submit" style="border-radius: 6px">답변</button>
					</span>	
				</div>				
			</div>
		</div>
	</div>
	</th:block>
</body>
</html>