<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" type="text/css" href="common/css/inquirywrite.css">   
		<link rel="stylesheet" href="common/css/styles.css"/>
		<style type="text/css">
			div {
	 			 margin-bottom: 20px; 
			}
			select {
  				margin-bottom: 10px;
			}
		</style>
	</th:block>
	<th:block layout:fragment="content">
	<div class="container-fluid" style="margin-top: 120px; margin-left: 50px">
		<div class="card">
			<div class="card-body">
				<div style="margin-bottom: 70px;">
					<h3 class="card-title fw-semibold mb-4" style="font-size: 30px">문의 > 글쓰기</h3>
				</div>
				<form th:action="@{/inquiry_write(memberId=${member.memberId})}" method="post"
					enctype="multipart/form-data">
					<div style="margin-bottom: 30px;">
						<label for="title" style="font-size: 30px">문의 카테고리</label> 
						<p>
						<select name="inqCategory" style="font-size: 20px; width: 180px; height: 45px">
							<option>충전</option>
							<option>환불</option>
							<option>제재</option>
							<option>기타</option>
						</select>
						</p>
					</div>
					<div style="margin-bottom: 30px;">
						<label for="title" style="font-size: 30px">제목</label> 
						<input type="text" id="title" name="inqTitle" style="font-size: 20px">
					</div>
					<div style="margin-bottom: 30px;">
						<label for="id" style="font-size: 30px; margin-right: 20px; border-right: 2px solid black; padding-right: 30px">아이디</label>
						<span th:text="${member.memberId}" th:with="paramValue=${member.memberId}" style="font-size: 20px"></span>
					</div>
					
					<div style="margin-bottom: 30px;">
						<label for="content" style="font-size: 30px">내용</label>
						<textarea name="inqContent" id="ir1" rows="10" cols="90" style="font-size: 20px"></textarea>
					</div>
					<div align="right">
						<button type="submit" style="border-radius: 6px">작성</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
	</th:block>
</body>
</html>