<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>문의글 수정</title>

</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" type="text/css" href="common/css/inquirywrite.css">   
		<link rel="stylesheet" href="common/css/styles.css"/>
		<style type="text/css">
			div {
	 			 margin-bottom: 20px; 
			}
			select {
  				margin-bottom: 10px;
			}
		</style>
	</th:block>
	<th:block layout:fragment="content">
	<div class="container-fluid" style="margin-top: 120px; margin-left: 50px">
		<div class="card">
			<div class="card-body">
				<div style="margin-bottom: 70px;">
					<h3 class="card-title fw-semibold mb-4" style="font-size: 30px">문의 > 글쓰기 > 수정</h3>
				</div>
				<form th:action="@{/inquiry/update(inquiryNo=${inquiry.inquiryNo})}" method="post"
					enctype="multipart/form-data">
					<div style="margin-bottom: 40px;">
						<label for="title" style="font-size: 30px; margin-bottom: 10px">문의 카테고리</label> 
						<p>
						<select name="inqCategory" style="font-size: 20px; width: 180px; height: 45px">
							<option th:selected="${inquiry.inqCategory eq '충전'}">충전</option>
							<option th:selected="${inquiry.inqCategory eq '환불'}">환불</option>
							<option th:selected="${inquiry.inqCategory eq '제재'}">제재</option>
							<option th:selected="${inquiry.inqCategory eq '기타'}">기타</option>
						</select>
						</p>
					</div>
					<div style="margin-bottom: 40px;">
						<label for="title" style="font-size: 30px; margin-bottom: 10px">제목</label> 
						<div>
							<input type="text" id="title" th:value="${inquiry.inqTitle}" name="inqTitle" style="height: 40px; font-size: 20px">
						</div>	
					</div>
					<div style="margin-bottom: 50px;">
						<label for="id" style="font-size: 30px; margin-right: 20px; border-right: 2px solid black; padding-right: 30px">아이디</label>
						<span th:text="${inquiry.memberId}" th:with="paramValue=${inquiry.memberId}" style="font-size: 20px"></span>
					</div>
					
					<div style="margin-bottom: 30px;">
						<label for="content" style="font-size: 30px; margin-bottom: 20px; display: flex; flex-direction: column;">내용</label>
						<textarea name="inqContent" id="ir1" rows="10" cols="90" th:text="${inquiry.inqContent}" style="font-size: 20px; width: 1000px"></textarea>
					</div>
					<div align="right">
						<button type="submit" style="border-radius: 6px">수정</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
	</th:block>
</body>
</html>