<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="css">
		<link rel="stylesheet" type="text/css" href="common/css/inquirywrite.css"> 
		<link rel="stylesheet" href="common/css/styles.css"/>
		<style type="text/css">
  			table {
  				border-collapse: separate;
 				border-spacing: 50px;
			}
		</style>
	</th:block>
	<th:block layout:fragment="content">
		<div class="container-fluid" style="margin-top: 120px; margin-left: 50px">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title fw-semibold mb-4" style="font-size: 30px">문의</h2>
            <div>
            <table>
            	<thead>
	            	<th width="100">No</th>
	            	<th width="600">제목</th>
	            	<th width="150">아이디</th>
	            	<th width="100">작성 시간</th>
            	</thead>
            	<tbody>
            		<tr th:each="inquiry:${inquirylist}">
            			<td><span th:text="${inquiry.inquiryNo }"></span></td>
            			<td><a th:href="@{/inquiryread(inquiryNo=${inquiry.inquiryNo },state=${'READ'})}"><span th:text="${inquiry.inqTitle }"></span></a></td>
            			<td><span th:text="id123"></span></td>
            			<td><span th:text="${inquiry.inqDate }"></span></td>
            		</tr>
            	</tbody>
            	<tbody>
            		<td colspan="5">
							<a href="/inquiryboard?pageNo=0">1</a>
							<a href="/inquiryboard?pageNo=1">2</a>
							<a href="/inquiryboard?pageNo=2">3</a>
							<a href="/inquiryboard?pageNo=3">4</a>
					</td>
            	</tbody>	
            </table>
            </div>
            <div align="center" style="margin-bottom: 40px">
            	<input style="height: 40px; width: 250px; font-size: 17px"><span style="margin-left: 15px"><button type="submit" style="border-radius: 6px">검색</button></span>
            </div>
            <div align="right">
				<button type="submit" style="border-radius: 6px" onclick="window.location.href='/racket/inquirywrite'">글쓰기</button>
			</div>
          </div>
        </div>
      </div>	
	</th:block>
</body>
</html>