@charset "UTF-8";

.form-label {
	margin-top: 5px;
	width: 80px;
}

#regist {
	width: 100px;
}

.form-select {
	width: 65px;
}

.form-control {
	width: 30%;
}
/* 새롭게 추가한 CSS */
.form-group {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.input-group {
	display: flex;
	align-items: center;
	width: 300px;
}

.input-group>.form-control {
	margin-right: 10px;
}

.member_auth {
	margin-right: 15px;
}

#member_id {
	width: 300px;
}

.grade {
	width: 110px;
}

input[type=password] {
	font-family: "굴림";
}

.duplicated-id{
	display: none;
	margin-left: 10px;
	color: red;
}
.available-id{
	display: none;
	margin-left: 10px;
	color: green;
}
.Idcondition{
	font-size: 10pt;
	color:gray;
	margin-left: 10px;
}