@charset "UTF-8";

/* 캐러셀(이미지슬라이드) 이미지 크기변경 */

#carouselExampleIndicators{
	margin-top:30px;
	z-index: 0;
}
.carousel-inner {
	width: auto;
	height: 600px; /* 이미지 높이 변경 */
	
}

.carousel-item {
	width: 100%;
	height: 100%;
}

.d-block {
	display: block;
	height: 100%;
}

.carousel-control-prev-icon {
	filter: invert(100%);
}

.carousel-control-next-icon {
	filter: invert(100%);
}