footer{
    background-color: white;
    max-width: 100%;
    padding:8vh 30px 8vh 30px;
    margin-top:30px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    clear: both;
}
footer .footerOuter{
    width:97%;
    margin:0 auto;
    padding: 30px 0 30px 0;
}
footer .footerOuter>hr{
    height: 1.3px;
    background-color: black;
    margin-bottom: 5vh;
}
footer .footerOuter h5{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
footer .footerContentDiv{
    width: 100%;
    display: flex;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.65;
}

footer .deskInfo{
    width: 100%;
}
footer .deskLinkDiv{
    display: flex;
    padding-top:10px;
    width: 100%;
    height: 100%;
    font-size: 13pt;
}
footer .deskLinkDiv a{
    margin-right:10px;
    font-weight: bold;
    color:black;
    text-decoration: none;
}
/* footerTextUnderline -> 밑줄 용 */
footer .footerTextUnderline{
    width: 0%;
    height: 1px;
    background-color: #222;
    transition: .5s;
}

footer .deskLinkDiv a:hover>.footerTextUnderline{
    width:100%;
}


footer .footerContentLeftDiv{
    width: 50%;
}
footer .footerContentRightDiv{
    width: 50%;
    display: flex;
}
footer .footerContentRightDiv>div{
    width: 25%;
}
footer .footerIconMenu{
    width:1%;
}

footer .footerContentRightDiv .date{
    color: #aaa;
    font-size: 10px;
    margin-left: 5px;
}
footer .footerMenuDiv a{
    display: block;
    text-decoration: none;
    color:black;
    font-size: 10pt;
}

footer .companyDescDiv{
   padding-top: 40px;
}
footer .companyDescDiv ul{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    white-space: nowrap;
    color:#787878;
}
footer .companyDescDiv ul>li{
    font-size: 12px;
    line-height: 1.65;
    padding-right: 10px;
}
footer .copyright{
    color:#aaa;
    font-size:12px;
    margin-top:15px;
}



@media (max-width:1300px){
    footer .footerContentDiv{
        display: block;
    }
    footer .footerContentLeftDiv{
        width: 100%;
        padding-bottom: 25px;
    }
    footer .footerContentRightDiv{
        width: 100%;
        padding-top: 30px;
    }
}

@media (max-width:1000px){
    footer .footerContentRightDiv{
        width: 0%;
        display: none;
    }
}


footer ol,footer ul {
	list-style: none;
    padding-inline-start: 0px;
   
}
footer p{
 	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer .companyDescDiv a{
	text-decoration: none;
	color: black;
}
footer .companyDescDiv a:visited{
	text-decoration: none;
	color: black;
}
