@charset "UTF-8";

.container {
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 2rem;
}

.intro_logo{
	height:100%;
	width:100%;
}