@charset "UTF-8";

/* 바디테그 전체에 박스를 입힘 */
.recruitment_body_container {
	width: 95%; /* 컨테이너의 너비 */
	margin: 0 auto; /* 가운데 정렬을 위해 왼쪽/오른쪽 마진을 auto로 설정 */
	border: 1px solid #ccc; /* 컨테이너에 테두리 설정 */
	padding: 20px; /* 컨테이너의 내부 여백 설정 */
	border-radius: 10px; /* 모서리 둥글기를 10px로 설정 */
	
	/* 폰트 */
	font-family: 'Kanit', sans-serif;
}

/* 상단에 있는 카테고리랑 검색바 */
.recruitment_board_select {
	margin-top: 30px;
}
/* 자유게시판 운동모집게시판 양옆으로 붙게 */
.recruitment_board_category li {
	display: inline;
	margin-right: 10px;
	font-size: 15pt;
}


/* 카테고리와 글 제목 하이퍼링크 밑줄 안 보이게 */
.recruitment_board_category a {
	text-decoration: none;
	color: inherit;
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

.recruitment_board_content a {
	text-decoration: none;
	color: inherit;
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

.recruitment_board_category a:hover {
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

.recruitment_board_content a:hover {
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}



/* 검색박스랑 검색버튼 붙게끔 + 검색박스 오른쪽 배치 */
.recruitment_search_input_wrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 870px;
}

/*  */
.recruitment_board_category {
	display: flex;
	align-items: center;
	margin-left: 10px;
}


.recruitment_search_button img {
	width: 20px;
	height: 20px;
}

/* 상단에 있는 카테고리랑 검색바 끝 */


/* 게시판 내용 테이블 */
table {
	border-collapse: collapse;
	width: 100%;
	height: 200px;
}

thead th {
	border-bottom: 1px solid black;
	text-align: left;
}

tbody th, tbody td {
	border-bottom: 1px solid black;
}

/* thead 위쪽에 선을 추가. */
thead {
	border-top: 1px solid black;
	background-color: #D8D8D8;
}

/* 테이블 끝 */


/* 페이지번호와 글쓰기버튼 시작*/
.recruitment_pagination a {
	/* a태그 박스처리 */
	display: inline-block;
	padding: 5px 10px;
	background-color: white;
	color: black;
	text-decoration: none;
	margin-right: 5px;
	text-align: center; /* 페이지 번호를 가운데 정렬 */
	margin-top: 10px;
	/* border-radius: 5px; */
}

.recruitment_pagination {
	display: flex;
	justify-content: center; /* 페이지번호를 가운데로 정렬 */
	flex: 1; /* 페이지번호가 남은 공간을 모두 차지하도록 설정 */
}

.recruitment_pagination_and_write {
	display: flex;
	justify-content: space-between; /* 페이지번호와 글쓰기 버튼을 양옆으로 배치 */
	align-items: center; /* 수직 가운데 정렬 */
}

/* 글쓰기 버튼(하이퍼링크) */
.recruitment_write a{	
	/* 하이퍼링크 밑줄 안 보이게, 색깔 검정색 */
	text-decoration: none;
	color: inherit;
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
	text-align: center;
}

.recruitment_write a:hover {
	color: black; /* 링크의 텍스트 색상을 검은색으로 유지 */
}

/* 페이지번호와 글쓰기버튼 끝*/





/* 글쓰기 버튼 테스트 */
.recruitment_write_button {
	background-color: white;
	border: 2px solid #000000;
	color: #333;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 16px;
	transition: all 0.3s ease;
	width: 100px;
	height: 40px;
	margin-top: 10px;
}

