<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>구장 제휴글 작성</title>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/racket/common/css/signup/associate.css">
</th:block>
<script>
	function validateForm() {
	}
	function checkId() {
		// 여기에 아이디 회원이 있는지 확인하는 코드를 작성하십시오.
		// 표준 예제를 찾으려면 AJAX 및 백엔드 서 통신을 고려하십시오.
	}
</script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container mt-5">
			<!-- <form action="/racket/signup" th:action="@{/submitForm}" method="POST" onsubmit="return validateForm();" class="shadow p-3 mb-5 bg-body rounded"> -->
			<form action="/racket/associate/test1" method="POST"
				enctype="multipart/form-data" onsubmit="return validateForm();"
				class="shadow p-3 mb-5 bg-body rounded">
				<h2 class="mb-3">구장 제휴 문의</h2>
				<div class="mb-3 form-group">
					<label for="memberId" class="form-label">아이디:</label>
					<div class="input-group">
						<input type="text" id="memberId" name="memberId"
							class="form-control" required th:value="${session.user.memberId}"
							readonly>
						<button type="button" onclick="checkId();"
							class="btn btn-secondary" id="idCheck">회원체크</button>
					</div>
				</div>
				<div class="mb-3">
					<label for="stadiumName" class="form-label">구장 이름:</label> <input
						type="text" id="stadiumName" name="stadiumName"
						class="form-control" required>
				</div>
				<div class="mb-3">
					<label for="stadiumAddr" class="form-label">구장 주소:</label> <input
						type="text" id="stadiumAddr" name="stadiumAddr"
						class="form-control" required>
				</div>
				<div class="mb-3">
					<label for="stadiumPhone" class="form-label">구장 전화번호:</label> <input
						type="text" id="stadiumPhone" name="stadiumPhone"
						class="form-control" required>
				</div>
				<div class="mb-3">
					<label for="stadiumTime" class="form-label" style="width: 100px;">구장
						운영 시간:</label>
					<div class="TimeContainer">
						<select id="stadiumTimeStart" name="stadiumTimeStart"
							class="form-select" onchange="updateEndTime()">
							<option value="06:00">06:00</option>
							<option value="08:00">08:00</option>
							<option value="10:00">10:00</option>
							<option value="12:00">12:00</option>
							<option value="14:00">14:00</option>
							<option value="16:00">16:00</option>
							<option value="18:00">18:00</option>
							<option value="20:00">20:00</option>
							<option value="22:00">22:00</option>
							<option value="22:00">24:00</option>
						</select> <label for="stadiumTimeEnd" class="form-label"
							style="width: 100px;">~</label> <select id="stadiumTimeEnd"
							name="stadiumTimeEnd" class="form-select">
							<option value="08:00">08:00</option>
							<option value="10:00">10:00</option>
							<option value="12:00">12:00</option>
							<option value="14:00">14:00</option>
							<option value="16:00">16:00</option>
							<option value="18:00">18:00</option>
							<option value="20:00">20:00</option>
							<option value="22:00">22:00</option>
							<option value="24:00">24:00</option>
						</select> <input type="hidden" id="stadiumTime" name="stadiumTime">
					</div>
				</div>
				<div class="mb-3">
					<label for="stadiumFee" class="form-label" style="width: 100px;">구장
						대여 비용:</label> <input type="number" id="stadiumFee" name="stadiumFee"
						class="form-control" required>
				</div>
				<div id="courtContainer">
					<div class="mb-3">
						<label for="stadiumContent" class="form-label">코트 이름:</label> <input
							type="text" id="courtName_0" name="courtlist[0].courtName"
							class="form-control" required>
					</div>
					
					<button type="button" onclick="addCourtHours()">코트 운영 시간 추가</button>
					<div id="courtHoursContainer"></div>
					
					
					<div class="TimeContainer">
						<label for="stadiumTime" class="form-label" style="width: 100px;">코트
						운영 시간:</label>
						<select id="courtStart_0" name="courtHour[0].courtStart"
							class="form-select" onchange="updateCourtEnd(0)">
							<option value="06:00">06:00</option>
							<option value="08:00">08:00</option>
							<option value="10:00">10:00</option>
							<option value="12:00">12:00</option>
							<option value="14:00">14:00</option>
							<option value="16:00">16:00</option>
							<option value="18:00">18:00</option>
							<option value="20:00">20:00</option>
							<option value="22:00">22:00</option>
						</select> <label for="stadiumTimeEnd" class="form-label"
							style="width: 100px;">~</label> <select id="courtEnd_0"
							name="courtHour[0].courtEnd" class="form-select" readonly>
							<option value="08:00">08:00</option>
							<option value="10:00">10:00</option>
							<option value="12:00">12:00</option>
							<option value="14:00">14:00</option>
							<option value="16:00">16:00</option>
							<option value="18:00">18:00</option>
							<option value="20:00">20:00</option>
							<option value="22:00">22:00</option>
							<option value="24:00">24:00</option>
						</select> 
					</div>
				</div>
				
				<div class="mb-3">
					<label for="stadiumContent" class="form-label">구장 설명 : </label>
					<textarea rows="5" cols="30" name="stadiumContent"
						id="stadiumContent" class="form-control"></textarea>
				</div>
				<div class="mb-3">
					<label for="stadiumFiles" class="form-label">구장 사진:</label> <input
						type="file" id="stadiumFiles" name="stadiumFiles"
						class="form-control" placeholder="파일선택" multiple>

				</div>

				<input type="hidden" name="stadiumStatus" value="0">
				<button type="submit" class="btn btn-primary" id="associate"
					disabled>구장 제휴서 제출</button>
			</form>

			<script type="text/javascript"
				src="/racket/common/js/signup/associate.js"></script>
		</div>

	</th:block>
</body>
</html>