<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="css">
<link rel="stylesheet" href="/racket/common/css/signup/sign-auth.css">
</th:block>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">

			<div class="logo">
				<img src="/racket/images/racket.png">
			</div>
			<div class="form-group email-form">
				<h2>이메일</h2>
				<div class="email-validation">
					<div class="input-group">
						<input type="text" class="form-control" name="userEmail1" id="userEmail1" placeholder="이메일"> 
							<select class="form-control" name="userEmail2" id="userEmail2">
								<option>@naver.com</option>
								<option>@daum.net</option>
								<option>@gmail.com</option>
								<option>@hanmail.com</option>
								<option>@yahoo.co.kr</option>
							</select>
						<button type="button" class="btn btn-primary" id="mail-send-btn">본인인증</button>
					</div>
				</div>
				<div class="email-check">
					<span class="duplicated-email">이미 가입된 이메일입니다.</span>
					<span class="available-email">사용가능한 이메일입니다.</span>
				</div>
				<div class="email-validation">
					<div class="input-group">
						<input class="form-control mail-check-input"
							placeholder="인증번호 6자리를 입력해주세요!" disabled="disabled" maxlength="6">
						<button type="button" class="btn btn-secondary" id="mail-check-btn">확인</button>
					</div>
					
				</div>
				<div class="email-validation">
						<!-- <button type="button" class="btn btn-success" id="next-btn" disabled>다음</button> -->
						<button type="button" class="btn btn-success" id="next-btn" disabled>다음</button>
						<a type="button" class="btn btn-danger" id="cancel-btn" href="/racket/main">취소</a>
					</div>
				<span id="mail-check-warn"></span>
			</div>
		</div>
		<th:block layout:fragment="script">
		<script type="text/javascript" src="/racket/common/js/signup/sign-auth.js"></script>
		</th:block>
	</th:block>
	
	
</body>
</html>