<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="common/css/styles.min.css"/>
<style type="text/css">
  	table {
  		border-collapse: separate;
 		border-spacing: 50px;
	}
</style>
</head>
<body>
	<div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title fw-semibold mb-4">문의 게시판</h2>
            <table>
            	<thead>
	            	<th width="100">No</th>
	            	<th width="600">제목</th>
	            	<th width="150">아이디</th>
	            	<th width="100">작성 시간</th>
            	</thead>
            	<tbody>
            		<tr>
            			<td>1</td>
            			<td>제목1</td>
            			<td>아이디1</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>2</td>
            			<td>제목2</td>
            			<td>아이디2</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>3</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>	
            		<tr>
            			<td>3</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>4</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>5</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>6</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>7</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>8</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>9</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            		<tr>
            			<td>10</td>
            			<td>제목3</td>
            			<td>아이디3</td>
            			<td>2023-06-01</td>
            		</tr>
            	</tbody>	
            </table>
            <button class="write-button" text-align:right>글쓰기</button>
          </div>
        </div>
      </div>
</body>
</html>