<!DOCTYPE html>
<html xmlns:th="hppt://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>자유게시판</title>
		<!-- 파비콘 -->
		<link rel="icon" href="/racket/images/favicon.png">
		<!-- 뷰포트 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- js -->
		<script type="text/javascript" src="/racket/common/js/free_board.js"></script>
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="/racket/common/css/free_board.css">
		<!-- 부트스트랩 -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<!-- 폰트 -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Cherry+Bomb+One&family=Noto+Sans+KR:wght@100;500&family=Oswald:wght@200;400&family=Roboto+Slab:wght@200;500&display=swap" rel="stylesheet">
		
		
		<!-- 헤더 -->
		<link rel="stylesheet" href="/racket/common/css/header.css">
    	<style type="text/css"></style>
		
		<!-- 푸터 -->
		<link rel="stylesheet" type="text/css" href="/racket/common/css/footer.css"/>
		
		<!-- 사이드바 -->
		<link rel="stylesheet" href="/racket/common/css/side.css">
		
	</head>
	<body>
	<!-- 헤더 -->
	<!-- 밑에 방법은 html에서 jsp를 불러오는 방법인데... 안된다... -->
    <!-- <iframe src="/WEB-INF/header.jsp" frameborder="0" scrolling="no"></iframe> -->
	<!-- <nav class="navbar">
       <div class="nav_logo">
           <img src="/racket/images/logo1.png"></a>
       </div>
       <ul class="nav_item">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>

        <ul class="nav_links">
            <li><a href="#"><img src="/racket/images/sign-in.png" style="width:50px;, height:50px"></a></li>
        </ul> -->


   </nav>
	<!-- 사이드바 -->
	<!-- 밑에 방법은 html에서 jsp를 불러오는 방법인데... 안된다... -->
    <!-- <iframe src="/WEB-INF/side.jsp" frameborder="0" scrolling="no"></iframe> -->
	<input type="checkbox" id="menuicon">
	<label for="menuicon">
		<span></span>
		<span></span>
		<span></span>
	</label>
	<div class="sidebar">
		<ul class="menu">
			<li><img alt="" src="../images/test/page.png"><a href="#">사이트 소개</a></li>
			<li><img alt="" src="../images/test/megaphone.png"><a href="#">공지사항</a></li>
			<li><img alt="" src="../images/test/management.png"><a href="#">강사신청</a></li>
			<li><img alt="" src="../images/test/man-playing-badminton.png"><a href="#">체육관 예약</a></li>
			<hr/>
			<li><img alt="" src="../images/test/conversation.png"><a href="#">운동모집게시판</a></li>
			<hr/>
			<li><img alt="" src="../images/test/question-and-answer.png"><a href="#">문의하기</a></li>
			<hr/>
			<li><img alt="" src="../images/test/instagram.png"><a href="#">인스타그램</a></li>
			<li><img alt="" src="../images/test/youtube.png"><a href="#">유튜브</a></li>
			<li><img alt="" src="../images/test/facebook.png"><a href="#">페이스북</a></li>
		</ul>
	</div>
		<div class="free_body_container">
	  		<div class="free_board_content">
	  			<div class="btn-group" >
  					<a href="/racket/free" class="btn btn-primary" style="background-color: white; font-weight: bold;">자유게시판</a>
  					<a href="/racket/recruitment" class="btn btn-primary" style="background-color: white;">운동모집게시판</a>
				</div>
	  			<div class="free_board_top">
		  			<strong>자유게시판</strong>
		  			<input type="search" placeholder="내용을 입력하세요.">
		  			<button class="free_search" type="submit">검색</button>
	  			</div>
	  			<table class="table table-hover">
	  				<thead>
	   					 <tr>
	      					<th scope="col">번호</th>
	      					<th scope="col">제목</th>
	      					<th scope="col">작성자</th>
	      					<th scope="col">작성일</th>
	      					<th scope="col">조회</th>
	    				</tr>
	  				</thead>
	  				
	  				<!-- 반복문으로 데이터 불러오면서 테이블 생성 -->
	  				<tbody>
	    				<tr>
	      					<th scope="row">1</th>
	      					<td><a href="/racket/free_read">배드민턴 너무 어려워요 ㅠㅠ</a></td>
	      					<td>park1234</td>
	      					<td>2023.05.31</td>
	      					<td>27</td>
	    				</tr>
	    				<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	   					<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	   					<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	   					<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	   					<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	   					<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	   					<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	   					<tr>
	      					<th scope="row" th:text="${freeboardlist}"></th>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	      					<td th:text="${freeboardlist}"></td>
	   					</tr>
	  				</tbody>
				</table>	
	  		</div>
		  	<div class="free_board_page">
	  			<a href="#" class="button first">&lt;&lt;</a>
	  			<a href="#" class="button prev">&lt;</a>
	  			<a href="#" class="num on">1</a>
	  			<a href="#" class="num">2</a>
	  			<a href="#" class="num">3</a>
	  			<a href="#" class="num">4</a>
	  			<a href="#" class="num">5</a>
	  			<a href="#" class="button next">></a>
	  			<a href="#" class="button last">>></a>
	  			<!-- 추가 페이지 번호 링크 -->
			</div>
			<div class="free_write">
				<!-- form처리 -->
				<button type="submit" class="free_write_button"><a href="/racket/free_write">글쓰기</a></button>
			</div>
		</div>
  		<!-- 푸터 -->
  		<!-- jsp는 링크를 통해 가져올 수 없어서 나중에 생각해보자.. -->
    	<!-- <link rel="import" href="WEB-INF/footer.jsp"> -->
    	<!-- 밑에 방법은 html에서 jsp를 불러오는 방법인데... 안된다... -->
    	<!-- <iframe src="/WEB-INF/footer.jsp" frameborder="0" scrolling="no"></iframe> -->
    	<footer>
		<div class="footerOuter">
			<hr>
			<div class="footerContentDiv">
				<div class="footerContentLeftDiv">
					<div class="deskLinkDiv">
						<a href="#">개인정보취급방침
							<div class="footerTextUnderline"></div>
						</a><a href="#">이용약관
							<div class="footerTextUnderline"></div>
						</a><a href="#">문의게시판
							<div class="footerTextUnderline"></div>
						</a><a href="#">취소 및 환불 정책
							<div class="footerTextUnderline"></div>
						</a>
					</div>
					<div class="deskInfo">
						<p>
							월~금 : 09:00 - 18:00 (점심시간 12:00-13:00) 공휴일&주말 : 1:1 채팅상담만 가능 <br> 환불, 변경 접수 : 09:00-17:00
						</p>
					</div>
				</div>
				<div class="footerContentRightDiv">
					<div class="footerMenuDiv">
						<h5>소개</h5>
						<a href="#">사이트 소개</a>
						<a href="#">2022년 8월 휴무 일정 안내<span class="date">07.27</span></a>
						<a href="#">2022년 6월 휴무 일정 안내<span class="date">05.31</span></a>
					</div>
					<div class="footerMenuDiv">
						<h5>제휴사</h5>
						<a href="#">제휴사 소개</a>
						<a href="#">제휴사 신청하기</a>
					</div>
					<div class="footerMenuDiv">
						<h5>지원</h5>
						<a href="#">공지사항</a>
						<a href="#">이벤트</a>
					</div>
					<div style="display:flex; flex-direction: column; " class="footerIconMenu">
						<a href="https://ko-kr.facebook.com/">facebook</a>
						<a href="https://www.instagram.com/">instagram</a>
					</div>
				</div>
			</div>
			<div class="companyDescDiv">
				<ul>
					<li>상호 Racket</li>
					<li>파이널 2조</li>
					<li>경기도 세종시 멀티캠퍼스 학원</li>
					<li>사업자등록번호 ###-##-#####</li>
					<li>통신판매업신고번호 제####-@@@@-#### 호</li>
					<li>이메일 <a href="#">jhjoo0221@naver.com</a></li>
					<li>주소: ##### 경기도 세종시 5층 Racket사</li>
					<li>입금계좌: 농협은행 ###-####-####-## XXX</li>
					<li>제휴 문의: jhjoo0221@naver.com</li>
				</ul>
				<p class="copyright">© 2023 Racket, Inc. All rights reserved.</p>
				<p class="copyright">해당 서비스에 대한 책임과 민원처리는 'Racket(주)'에 있습니다.</p>
			</div>
		</div>
	</footer>
	</body>
</html>