<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>상세보기 페이지</title>
<link rel="stylesheet" type="text/css"
	href="/racket/common/css/stadiumDetail.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
	crossorigin="anonymous"></script>

</head>
<body>
	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/racket/images/jang1.jpg" alt="Image"
					style="width: 600px; height: 300px">
			</div>
			<div class="carousel-item">
				<img src="/racket/images/jang1.jpg" alt="Image"
					style="width: 600px; height: 300px">
			</div>
			<!-- 추가 슬라이드 아이템 -->
		</div>
		<!-- 컨트롤 버튼 또는 인디케이터 등의 추가 요소 -->
	</div>
<div class="section">
  <div class="heading-3">경기장 정보</div>

  <div class="list">
    <div class="item">
      <div class="ic-info-stadium-svg">
        <svg
          class="ic-info-stadium-svg2"
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.6049 2.74945H7.89066C6.70719 2.74945 5.7478 3.64488 5.7478 4.74945V19.7495C5.7478 20.8541 6.70719 21.7495 7.89066 21.7495H18.6049C19.7884 21.7495 20.7478 20.8541 20.7478 19.7495V4.74945C20.7478 3.64488 19.7884 2.74945 18.6049 2.74945Z"
            stroke="#222836"
            stroke-miterlimit="10"
          />
          <path
            d="M5.7478 12.2495H20.7478"
            stroke="#222836"
            stroke-miterlimit="10"
          />
          <path
            d="M13.2478 14.7495C14.6285 14.7495 15.7478 13.6302 15.7478 12.2495C15.7478 10.8688 14.6285 9.74945 13.2478 9.74945C11.8671 9.74945 10.7478 10.8688 10.7478 12.2495C10.7478 13.6302 11.8671 14.7495 13.2478 14.7495Z"
            stroke="#222836"
            stroke-miterlimit="10"
          />
          <path
            d="M16.7478 2.74945H9.7478V5.74945H16.7478V2.74945Z"
            stroke="#222836"
            stroke-miterlimit="10"
          />
          <path
            d="M16.7478 18.7495H9.7478V21.7495H16.7478V18.7495Z"
            stroke="#222836"
            stroke-miterlimit="10"
          />
        </svg>
      </div>

      <div class="_40-x-20-m">40x20m</div>
    </div>

    <div class="item2">
      <div class="ic-info-shower-svg">
        <svg
          class="ic-info-shower-svg2"
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.3378 15.6094H4.93781C4.36181 15.6094 3.97781 15.2254 3.97781 14.6494V13.6894C3.97781 9.94542 6.95381 6.96942 10.6978 6.96942H13.5778C17.3218 6.96942 20.2978 9.94542 20.2978 13.6894V14.6494C20.2978 15.2254 19.9138 15.6094 19.3378 15.6094Z"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
          />
          <path
            d="M19.3378 20.4094V21.3694"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16.4578 20.4094V21.3694"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.5778 20.4094V21.3694"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4.93784 20.4094V21.3694"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7.81784 20.4094V21.3694"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.6978 20.4094V21.3694"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.8978 17.5295V18.4895"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M15.0178 17.5295V18.4895"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12.1378 17.5295V18.4895"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6.37784 17.5295V18.4895"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.25781 17.5295V18.4895"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M11.6578 6.48948V2.64948"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
          />
          <path
            d="M12.6178 6.48948V2.64948"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
          />
        </svg>
      </div>

      <div class="">샤워실</div>
    </div>

    <div class="item3">
      <div class="ic-info-park-svg">
        <svg
          class="ic-info-park-svg2"
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.3878 17.3695H3.10781C2.81981 17.3695 2.62781 17.1775 2.62781 16.8895V13.5295L3.58781 12.5695H19.9078L20.8678 13.5295V16.8895C20.8678 17.1775 20.6758 17.3695 20.3878 17.3695Z"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M19.9078 19.7695H17.9878C17.6998 19.7695 17.5078 19.5775 17.5078 19.2895V17.8495H20.3878V19.2895C20.3878 19.5775 20.1958 19.7695 19.9078 19.7695Z"
            fill="#222836"
          />
          <path
            d="M5.50779 19.7695H3.58779C3.29979 19.7695 3.10779 19.5775 3.10779 19.2895V17.8495H5.98779V19.2895C5.98779 19.5775 5.79579 19.7695 5.50779 19.7695Z"
            fill="#222836"
          />
          <path
            d="M5.02781 15.9295C5.558 15.9295 5.98781 15.4997 5.98781 14.9695C5.98781 14.4393 5.558 14.0095 5.02781 14.0095C4.49762 14.0095 4.06781 14.4393 4.06781 14.9695C4.06781 15.4997 4.49762 15.9295 5.02781 15.9295Z"
            fill="#222836"
          />
          <path
            d="M18.4678 15.9295C18.998 15.9295 19.4278 15.4997 19.4278 14.9695C19.4278 14.4393 18.998 14.0095 18.4678 14.0095C17.9376 14.0095 17.5078 14.4393 17.5078 14.9695C17.5078 15.4997 17.9376 15.9295 18.4678 15.9295Z"
            fill="#222836"
          />
          <path
            d="M14.6278 15.9295H8.86778C8.38778 15.9295 7.90778 15.5455 7.90778 14.9695C7.90778 14.4895 8.29178 14.0095 8.86778 14.0095H14.6278C15.1078 14.0095 15.5878 14.3935 15.5878 14.9695C15.5878 15.5455 15.2038 15.9295 14.6278 15.9295Z"
            fill="#222836"
          />
          <path
            d="M17.3157 5.84949H6.1797C5.2197 5.84949 4.4517 6.52149 4.2597 7.48149L3.4917 12.5695H19.8117L19.0437 7.48149C19.0437 6.52149 18.2757 5.84949 17.3157 5.84949Z"
            stroke="#222836"
            stroke-width="0.96"
            stroke-miterlimit="10"
          />
        </svg>
      </div>

      <div class="2">유료주차</div>
    </div>
  </div>

  <div class="div-stad-inner">
    <div class="div-match-rule">
      <div class="heading-4">구장 특이사항</div>

      <div class="pre">
        <div class="_8-9-8-40">
          ■풋살장 가는 길: 엘리베이터를 이용하여 8층 풋살장으로 이동 (주말 오전
          9시 매치 입장 시 후문<br />[정문에서 코스트코 방향으로 이동]을 통해
          8시 40분 부터 출입 가능)
        </div>

        <div class="_3-2-8-8-3-000-2-010-6587-8487-30-10-500-21-1">
          ■주차: 매치 신청 시 선착순 3대 2시간 무료 (롯데마트 8층 주차장은 사용
          불가)<br />-주차 미등록자는 8층 매점에서 3,000원 이상 구매 시 2시간
          제공(더에프 사무실 직원에게 문의<br />/010-6587-8487)<br />-주차
          등록은 매치 30분 이내 변경 및 신청 불가(이후 10분당 500원)<br />-21시
          이후 입차 시 주차비용 발생<br />-연타임 주차 신청 가능 (출차 시 부스에
          이야기하면 연타임 처리)<br />(* 종종 주차누락이 있어 무료 주차
          사전등록을 완료했음에도 1층 주차 차단기에서 통과가<br />안된다면, 사전
          주차등록한 차량의 번호를 주차부스 담당자에게 소통해주세요.)
        </div>

        <div class="_3-000-size-250-285-8">
          ■풋살화: 대여 가능(3,000원, Size : 250~285) 구장 입구에 있는 8층
          더에프 사무실에서 대여<br />(사이즈별 재고 여부는 구장 측으로 문의
          주세요.)
        </div>

        <div class="a">
          ■워밍업존: A구장 정면에 워밍업존 무료 이용 가능 (패스 리바운더,
          사이클, 벤치프레스, 스텝<br />레더 등)
        </div>

        <div class="a2">
          ■흡연: A구장 옆에 흡연장 이용 (흡연 구역 외 마트내 흡연 적발시 퇴장
          조치 및 과태료 부과)
        </div>

        <div class="_7">■화장실: 7층 화장실 이용</div>

        <div class="3">
          ■무단 출입 금지: 레슨용 시설 더에프랩(실내)와 스킬피치 앞에 무단
          출입금지 안내문이<br />비치되어 있습니다.
        </div>

        <div class="_8-f">
          ■기타: 긴급 시 사용 가능한 자동 제세동기가 8F 더에프 필드 사무실 옆
          벽면에 설치돼 있습니다.
        </div>
      </div>
    </div>
  </div>

  <div class="hero-heading-left">
    <div class="container">
      <div class="column">
        <div class="content">
          <div class="h-1-title-copy-goes-here-be-awesome">
            Title Copy Goes Here Be Awesome
          </div>

          <div
            class="p-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </div>
        </div>

        <div class="actions">
          <div class="button">
            <div class="get-started">GET STARTED</div>
          </div>
        </div>
      </div>

      <div class="column2">
        <div class="image-wrapper">
          <img class="image" src="image.png" />
        </div>
      </div>
    </div>
  </div>
</div>

	
</body>


</html>