<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/racket/common/assets/css/main.css" />
<noscript>
	<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
</noscript>
</head>
<body class="is-preload">
	<th:block layout:fragment="content">
		<section style="margin-top: 130px; margin-left: 150px;">
			<div class="content">
				<ul class="actions">
							<li>
								<form action="/racket/mypage/info" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">내정보</button>
								</form>
							</li>
							<li><a href="/racket/mypage/change" class="button">정보수정</a></li>
							<li><a href="/racket/mypage/cash?pageNo=0" class="button">충전</a></li>
							<li>
								<form action="/racket/mypage/reservation" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">나의 예약기록보기</button>
								</form>
							</li>
							<li>
								<form action="/racket/mypage/match" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">매칭 기록보기</button>
								</form>
							</li>
							<li>
								<form action="/racket/mypage/training" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">나의 강습기록보기</button>
								</form>
							</li>
							<li>
								<form action="/racket/mypage/trainingAttend" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">강습참가 기록보기</button>
								</form>
							</li>
						</ul>
			</div>
			<div class="content">
				<div class="box">
					<div class="field">
						<label for="member_nick" class="form-label">아이디</label>
						<div class="box" th:text="${session.user.memberId}"></div>
						<hr />
						<label for="member_nick" class="form-label">이름</label>
						<div class="box" th:text="${session.user.memberName}"></div>
						<hr />
						<label for="member_nick" class="form-label">닉네임</label>
						<div class="box" th:text="${session.user.memberNick}"></div>
						<hr />
						<label for="member_age" class="form-label">나이</label>
						<div class="box" th:text="${session.user.memberAge}"></div>
						<hr />
						<label for="member_phone" class="form-label">전화번호</label>
						<div class="box" th:text="${session.user.memberPhone}"></div>
						<hr />
						<label for="member_addr" class="form-label">주소</label>
						<div class="box" th:text="${session.user.memberAddr}"></div>
						<hr />
						<label for="member_addr" class="form-label">이메일</label>
						<div class="box" th:text="${session.user.memberEmail}"></div>
						<hr />
						<label for="member_addr" class="form-label">등급</label>
						<div class="box" th:text="${session.user.memberGrade}"></div>
						<hr />
					</div>
				</div>
			</div>
		</section>
		<!-- Scripts -->
		<script src="/racket/common/assets/js/jquery.min.js"></script>
		<script src="/racket/common/assets/js/jquery.scrollex.min.js"></script>
		<script src="/racket/common/assets/js/jquery.scrolly.min.js"></script>
		<script src="/racket/common/assets/js/browser.min.js"></script>
		<script src="/racket/common/assets/js/breakpoints.min.js"></script>
		<script src="/racket/common/assets/js/util.js"></script>
		<script src="/racket/common/assets/js/main.js"></script>
		<!-- Note: Only needed for demo purposes. Delete for production sites. -->
		<script src="/racket/common/assets/js/demo.js"></script>
	</th:block>
</body>
</html>