<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/racket/common/assets/css/main.css" />
<noscript>
	<link rel="stylesheet" href="/racket/common/assets/css/noscript.css" />
</noscript>
<script type="text/javascript">
  let msg = "${session.user.memberId}";
  console.log(msg);
</script>

</head>
<body class="is-preload">
	<th:block layout:fragment="content">
		<section style="margin-top: 130px; margin-left: 150px;">
			<section>
				<div class="content">
					<ul class="actions">
							<li>
								<form action="/racket/mypage/info" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">내정보</button>
								</form>
							</li>
							<li><a href="/racket/mypage/change" class="button">정보수정</a></li>
							<li><a href="/racket/mypage/cash?pageNo=0" class="button">충전</a></li>
							<li>
								<form action="/racket/mypage/reservation" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">나의 예약기록보기</button>
								</form>
							</li>
							<li>
								<form action="/racket/mypage/match" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">매칭 기록보기</button>
								</form>
							</li>
							<li>
								<form action="/racket/mypage/training" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">나의 강습기록보기</button>
								</form>
							</li>
							<li>
								<form action="/racket/mypage/trainingAttend" method="post">
									<input type="hidden" th:value="${session.user.memberId}"
										name="memberId" id="memberId">
									<button type="submit">강습참가 기록보기</button>
								</form>
							</li>
						</ul>
				</div>
			</section>
			<div class="content">
				<div class="box">
					<form action="/racket/mypage/change.do" method="post">
						<label for="memberId" class="form-label">아이디</label> <input
							type="hidden" name="memberId" id="memberId"
							th:value="${session.user.memberId}"> <input type="hidden"
							name="test" id="memberId" th:value="${'test'}">
						<div class="box" th:text="${session.user.memberId}"></div>
						<hr />
						<label for="memberName" class="form-label">이름</label> <input
							type="hidden" name="memberName" id="memberName"
							th:value="${session.user.memberName}">
						<div class="box" th:text="${session.user.memberName}"></div>
						<hr />
						<label for="memberNick" class="form-label">닉네임</label> <input
							type="text" name="memberNick" id="memberNick"
							class="form-control" placeholder="변경할 닉네임을 입력하세요.">
						<hr />
						<label for="memberAge" class="form-label">나이</label> <input
							type="text" name="memberAge" id="memberAge" class="form-control"
							placeholder="변경할 나이를 입력하세요.">
						<hr />
						<label for="memberPhone" class="form-label">전화번호</label> <input
							type="text" name="memberPhone" id="memberPhone"
							class="form-control" placeholder="변경할 전화번호를 입력하세요.">
						<hr />
						<label for="memberAddr" class="form-label">주소</label> <input
							type="text" name="memberAddr" id="memberAddr"
							class="form-control" placeholder="변경할 주소를 입력하세요.">
						<hr />
						<label for="memberEmail" class="form-label">이메일</label> <input
							type="hidden" name="memberEmail" id="memberEmail"
							th:value="${session.user.memberEmail}">
						<div class="box" th:text="${session.user.memberEmail}"></div>
						<hr />
						<label for="memberGrade" class="form-label">등급</label> <input
							type="hidden" th:name="memberGrade" id="memberGrade"
							th:value="${session.user.memberGrade}">
						<div class="box" th:text="${session.user.memberGrade}"></div>
						<hr />

						<div class="field" style="text-align: center;">
							<input type="submit" id="submit" value="정보수정"
								style="text-align: center;" />
						</div>
					</form>
				</div>
			</div>
		</section>

		<!-- Scripts -->
		<script src="/racket/common/assets/js/jquery.min.js"></script>
		<script src="/racket/common/assets/js/jquery.scrollex.min.js"></script>
		<script src="/racket/common/assets/js/jquery.scrolly.min.js"></script>
		<script src="/racket/common/assets/js/browser.min.js"></script>
		<script src="/racket/common/assets/js/breakpoints.min.js"></script>
		<script src="/racket/common/assets/js/util.js"></script>
		<script src="/racket/common/assets/js/main.js"></script>

		<!-- Note: Only needed for demo purposes. Delete for production sites. -->
		<script src="/racket/common/assets/js/demo.js"></script>
	</th:block>
</body>
</html>